<div class="work listbox group" id="collection-works">
  <h3 class="heading">
    <% if collection.collection_preference.show_random || params[:show_random] %>
      <%= ts("Random works") %>  
    <% else %>  
      <%= ts("Recent works") %>
    <% end %>
  </h3>
  <ul class="index group">
    <% for work in works %>
  	  <%= render 'works/work_blurb', :work => work %>
    <% end %>
  </ul>
  <% if works.total_entries > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD %>
    <ul class="actions" role="navigation"><li><%= link_to ts("Works (%{count})", :count => works.total_entries), collection_works_path(@collection) %></li></ul>
  <% end %>
</div>
