<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2 class="heading"><%= ts("Edit Collection") %></h2>
<!-- /descriptions-->

<!--subnavgiation, sorting and actions-->
  <%= render "collections/collection_form_delete" %>
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading"><%= ts("Edit Collection Form") %></h3>
<%= render :partial => 'form' %>
<!--/content-->

