<h2 class="heading"><%= ts("Open Prompt Meme Challenges") %></h2>

<!--subnav-->
<%= render :partial => "challenge_list_top_navigation" %>
<!--/subnav-->

<!--main content-->
<%= render :partial => "challenge_collections" %>
<!--/main content-->

