<% # expects fandoms %>
<% fandoms.each do |fandom| %>
  <% unless @tagnames_seen[fandom.tagname] %>
    <% cast = TagNomination.for_tag_set(@tag_set).where(:parent_tagname => fandom.tagname).unreviewed.order(:type, :tagname) %>
    <li class="fandom listbox group">
      <h3 class="heading">
        <%= fandom.tagname %></h3>
      <%= render "review_individual_nom", :nom => fandom %>
      <% if cast.count > 0 %>
        <ol class="tags index group">
          <% cast.each do |cast_nom| %>
            <li class="nomination">
              <%= render "review_individual_nom", :nom => cast_nom %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </li>
  <% end %>
<% end %>
