<!-- descriptions-->
<h2 class="heading"><%= ts("Sign Up for %{title}", :title => @collection.title) %></h2>
<!-- /descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= render "signup_form" %>
<!--/content-->
