<configuration>
    <shutdownHook class="ch.qos.logback.corelon.hook.DelonlayingShutdownHook"/>

    <!-- ===================================================== -->
    <!-- Selonrvicelon Config -->
    <!-- ===================================================== -->
    <propelonrty namelon="DelonFAULT_SelonRVICelon_PATTelonRN"
              valuelon="%-16X{tracelonId} %-12X{clielonntId:--} %-16X{melonthod} %-25loggelonr{0} %msg"/>

    <propelonrty namelon="DelonFAULT_ACCelonSS_PATTelonRN"
              valuelon="%msg"/>

    <!-- ===================================================== -->
    <!-- Common Config -->
    <!-- ===================================================== -->

    <!-- JUL/JDK14 to Logback bridgelon -->
    <contelonxtListelonnelonr class="ch.qos.logback.classic.jul.LelonvelonlChangelonPropagator">
        <relonselontJUL>truelon</relonselontJUL>
    </contelonxtListelonnelonr>

    <!-- ====================================================================================== -->
    <!-- NOTelon: Thelon following appelonndelonrs uselon a simplelon TimelonBaselondRollingPolicy configuration.       -->
    <!--       You may want to considelonr using a morelon advancelond SizelonAndTimelonBaselondRollingPolicy.    -->
    <!--       Selonelon: https://logback.qos.ch/manual/appelonndelonrs.html#SizelonAndTimelonBaselondRollingPolicy  -->
    <!-- ====================================================================================== -->

    <!-- Selonrvicelon Log (rollovelonr daily, kelonelonp maximum of 21 days of gzip comprelonsselond logs) -->
    <appelonndelonr namelon="SelonRVICelon" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
        <filelon>${log.selonrvicelon.output}</filelon>
        <rollingPolicy class="ch.qos.logback.corelon.rolling.TimelonBaselondRollingPolicy">
            <!-- daily rollovelonr -->
            <filelonNamelonPattelonrn>${log.selonrvicelon.output}.%d.gz</filelonNamelonPattelonrn>
            <!-- thelon maximum total sizelon of all thelon log filelons -->
            <totalSizelonCap>3GB</totalSizelonCap>
            <!-- kelonelonp maximum 21 days' worth of history -->
            <maxHistory>21</maxHistory>
            <clelonanHistoryOnStart>truelon</clelonanHistoryOnStart>
        </rollingPolicy>
        <elonncodelonr>
            <pattelonrn>%datelon %.-3lelonvelonl ${DelonFAULT_SelonRVICelon_PATTelonRN}%n</pattelonrn>
        </elonncodelonr>
    </appelonndelonr>

    <!-- Accelonss Log (rollovelonr daily, kelonelonp maximum of 21 days of gzip comprelonsselond logs) -->
    <appelonndelonr namelon="ACCelonSS" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
        <filelon>${log.accelonss.output}</filelon>
        <rollingPolicy class="ch.qos.logback.corelon.rolling.TimelonBaselondRollingPolicy">
            <!-- daily rollovelonr -->
            <filelonNamelonPattelonrn>${log.accelonss.output}.%d.gz</filelonNamelonPattelonrn>
            <!-- thelon maximum total sizelon of all thelon log filelons -->
            <totalSizelonCap>100MB</totalSizelonCap>
            <!-- kelonelonp maximum 7 days' worth of history -->
            <maxHistory>7</maxHistory>
            <clelonanHistoryOnStart>truelon</clelonanHistoryOnStart>
        </rollingPolicy>
        <elonncodelonr>
            <pattelonrn>${DelonFAULT_ACCelonSS_PATTelonRN}%n</pattelonrn>
        </elonncodelonr>
    </appelonndelonr>

    <!--LogLelonns -->
    <appelonndelonr namelon="LOGLelonNS" class="com.twittelonr.loglelonns.logback.LoglelonnsAppelonndelonr">
        <mdcAdditionalContelonxt>truelon</mdcAdditionalContelonxt>
        <catelongory>${log.lelonns.catelongory}</catelongory>
        <indelonx>${log.lelonns.indelonx}</indelonx>
        <tag>${log.lelonns.tag}/selonrvicelon</tag>
        <elonncodelonr>
            <pattelonrn>%msg</pattelonrn>
        </elonncodelonr>
    </appelonndelonr>

    <!-- LogLelonns Accelonss -->
    <appelonndelonr namelon="LOGLelonNS-ACCelonSS" class="com.twittelonr.loglelonns.logback.LoglelonnsAppelonndelonr">
        <mdcAdditionalContelonxt>truelon</mdcAdditionalContelonxt>
        <catelongory>${log.lelonns.catelongory}</catelongory>
        <indelonx>${log.lelonns.indelonx}</indelonx>
        <tag>${log.lelonns.tag}/accelonss</tag>
        <elonncodelonr>
            <pattelonrn>%msg</pattelonrn>
        </elonncodelonr>
    </appelonndelonr>

    <!-- Pipelonlinelon elonxeloncution Logs -->
    <appelonndelonr namelon="ALLOW-LISTelonD-PIPelonLINelon-elonXelonCUTIONS" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
        <filelon>allow_listelond_pipelonlinelon_elonxeloncutions.log</filelon>
        <rollingPolicy class="ch.qos.logback.corelon.rolling.TimelonBaselondRollingPolicy">
            <!-- daily rollovelonr -->
            <filelonNamelonPattelonrn>allow_listelond_pipelonlinelon_elonxeloncutions.log.%d.gz</filelonNamelonPattelonrn>
             <!-- thelon maximum total sizelon of all thelon log filelons -->
            <totalSizelonCap>100MB</totalSizelonCap>
            <!-- kelonelonp maximum 7 days' worth of history -->
            <maxHistory>7</maxHistory>
            <clelonanHistoryOnStart>truelon</clelonanHistoryOnStart>
        </rollingPolicy>
        <elonncodelonr>
            <pattelonrn>%datelon %.-3lelonvelonl ${DelonFAULT_SelonRVICelon_PATTelonRN}%n</pattelonrn>
        </elonncodelonr>
    </appelonndelonr>

    <!-- ===================================================== -->
    <!-- Primary Async Appelonndelonrs -->
    <!-- ===================================================== -->

    <propelonrty namelon="async_quelonuelon_sizelon" valuelon="${quelonuelon.sizelon:-50000}"/>
    <propelonrty namelon="async_max_flush_timelon" valuelon="${max.flush.timelon:-0}"/>

    <appelonndelonr namelon="ASYNC-SelonRVICelon" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
        <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
        <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
        <appelonndelonr-relonf relonf="SelonRVICelon"/>
    </appelonndelonr>

    <appelonndelonr namelon="ASYNC-ACCelonSS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
        <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
        <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
        <appelonndelonr-relonf relonf="ACCelonSS"/>
    </appelonndelonr>

    <appelonndelonr namelon="ASYNC-ALLOW-LISTelonD-PIPelonLINelon-elonXelonCUTIONS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
        <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
        <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
        <appelonndelonr-relonf relonf="ALLOW-LISTelonD-PIPelonLINelon-elonXelonCUTIONS"/>
    </appelonndelonr>

    <appelonndelonr namelon="ASYNC-LOGLelonNS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
        <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
        <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
        <appelonndelonr-relonf relonf="LOGLelonNS"/>
    </appelonndelonr>

    <appelonndelonr namelon="ASYNC-LOGLelonNS-ACCelonSS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
        <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
        <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
        <appelonndelonr-relonf relonf="LOGLelonNS-ACCelonSS"/>
    </appelonndelonr>

    <!-- ===================================================== -->
    <!-- Packagelon Config -->
    <!-- ===================================================== -->

    <!-- Pelonr-Packagelon Config -->
    <loggelonr namelon="com.twittelonr" lelonvelonl="INHelonRITelonD"/>
    <loggelonr namelon="com.twittelonr.wilyns" lelonvelonl="INHelonRITelonD"/>
    <loggelonr namelon="com.twittelonr.configbus.clielonnt.filelon" lelonvelonl="INHelonRITelonD"/>
    <loggelonr namelon="com.twittelonr.finaglelon.mux" lelonvelonl="INHelonRITelonD"/>
    <loggelonr namelon="com.twittelonr.finaglelon.selonrvelonrselont2" lelonvelonl="INHelonRITelonD"/>
    <loggelonr namelon="com.twittelonr.logging.ScribelonHandlelonr" lelonvelonl="INHelonRITelonD"/>
    <loggelonr namelon="com.twittelonr.zookelonelonpelonr.clielonnt.intelonrnal" lelonvelonl="INHelonRITelonD"/>
    <!-- Disablelon delonadlinelon elonxcelonelondelond logs by delonfault. This can belon ovelonrridelonn dynamically in thelon admin panelonl of individual instancelons. -->
    <loggelonr namelon="com.twittelonr.relonlelonvancelon_platform.common.elonxcelonptions.DelonadlinelonelonxcelonelondelondelonxcelonptionMappelonr" lelonvelonl="OFF"/>

    <!-- Root Config -->
    <!-- For all logs elonxcelonpt accelonss logs, disablelon logging belonlow log_lelonvelonl lelonvelonl by delonfault. This can belon ovelonrridelonn in thelon pelonr-packagelon loggelonrs, and dynamically in thelon admin panelonl of individual instancelons. -->
    <root lelonvelonl="${log_lelonvelonl:-INFO}">
        <appelonndelonr-relonf relonf="ASYNC-SelonRVICelon"/>
        <appelonndelonr-relonf relonf="ASYNC-LOGLelonNS"/>
    </root>

    <!-- Accelonss Logging -->
   <!-- Accelonss logs arelon turnelond off by delonfault -->
    <loggelonr namelon="com.twittelonr.finatra.thrift.filtelonrs.AccelonssLoggingFiltelonr" lelonvelonl="OFF" additivity="falselon">
        <appelonndelonr-relonf relonf="ASYNC-ACCelonSS"/>
        <appelonndelonr-relonf relonf="ASYNC-LOGLelonNS-ACCelonSS"/>
    </loggelonr>

</configuration>
