# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# List text files in case git doesn't characterize correctly
*.c text
*.h text
*.s text
*.in text
*.js text
*.md text
*.py text
*.sh text
*.ld text
*.inc text
*.txt text
*.json text
*.yaml text

# Same for binary
*.bin binary
*.m64 binary
*.png binary
*.aiff binary