<% creation_type = @creation.class.name.underscore %>
<% content_for :message do %>
  <p>
    <%= t(".intro_#{creation_type}", archivist: @archivist.login, pseud: @creatorship.pseud.name) %>
  </p>

  <p>
    <%= t(".html.creation",
    creation_link: "<i><b>#{style_link(creation_title(@creation), polymorphic_url(@creation))}</b></i>".html_safe,
    pseud_links: @creation.pseuds.map{ |p| style_pseud_link(p) }.to_sentence.html_safe).html_safe %>
  </p>

  <p><%= t(".explanation") %></p>

  <p>
    <%= t(".html.remove_#{creation_type}", "edit_#{creation_type}_link": style_link(t(".html.edit_#{creation_type}"), edit_polymorphic_url(@creation))).html_safe %>
  </p>
<% end %>
