<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal", name: style_bold(@user.login)).html_safe %></p>

  <p>The collection maintainers of <%= style_link(@collection.title, collection_url(@collection)) %> would
    like to include your work <%= style_creation_link(@work.title, work_url(@work)) %> in their collection!</p>

  <p>To approve or reject this request, please visit your <%= style_link("Collection Items page", user_collection_items_url(@user)) %>.</p>

<% end %>
