<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= title_for_comment_page(@commentable) %></h2> 
<!--/descriptions-->

<!--main content-->
<%= render "comments/commentable", commentable: @commentable %>
<!--main content-->

<!--subnav-->
<!--/subnav-->
