<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("New comment on %{name}", :name => @name) %></h2>
<%= error_messages_for :comment %>
<!--/descriptions-->

<!--main content-->
<%= render :partial => 'comments/comment_form', :locals => {
    :comment => @comment, 
    :commentable => @commentable,
    :button_name => ts("Comment")
  } 
%>
<!--/content-->

<!--subnav-->
<p class="navigation actions" role="navigation"><!--TODO: INVESTIGATE this baffling link--><%= link_to ts("Back"), @commentable.is_a?(Tag) ? tag_path(@commentable) : polymorphic_path(@commentable) %></p>
<!--/subnav-->
