<%= flash_div :comment_error, :comment_notice %>

<h3 class="heading"><%=h t('.comment_on', :default => "Comment on") %>  <%= link_to_comment_ultimate_parent(@comment) %></h3>

<%= render :partial => 'comments/comment_thread', :locals => { :comments => @comments, :depth => 0 } %></ol>
