<% 
  # this currently doesn't get called anywhere  
  # presumably this rather than the challenge signups index should be the list of prompts eg in a prompt meme 
%>
<h2 class="heading"><%= ts("Prompts") %></h2>

<ul class="index group">
  for each render partial _prompt_blurb
</ul>