<% # expects admin_banner %>
<% # don't forget to update layouts/banner! %>
<div class="<%= admin_banner.banner_type %> announcement group">
  <blockquote class="userstuff">
    <%=raw sanitize_field(admin_banner, :content) %>
  </blockquote>
</div>
