<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= ts('New Banner') %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <%= render 'navigation' %>
  <!--/subnav-->

  <!--main content-->
  <%= render 'banner_form' %>
  <!--/content-->
</div>
