<ul class="menu" role="menu">
  <li><%= link_to ts('Works', key: 'header.browse'), works_path %></li>
  <li><%= link_to ts('Bookmarks', key: 'header.browse'), bookmarks_path %></li>
  <li><%= link_to ts('Tags', key: 'header.browse'), tags_path %></li>
  <li><%= link_to ts('Collections', key: 'header.browse'), collections_path %></li>
</ul>
