<h3 class="heading"><%= ts("Log Out") %></h3>

<%= form_tag destroy_user_session_path, method: :delete, class: "simple destroy" do %>
  <p class="notice"><%= ts("Are you sure you want to log out?") %></p>
  <p class="actions">
    <%= submit_tag ts("Yes, Log Out") %>
  </p>
<% end %>
