<h2 class="heading"><%= t('.edit_external_author', :default => 'Editing external author identity') %></h2>

<%= render "external_author_form" %>

<p class="navigation actions" role="navigation"><%= link_to t('.back', :default => 'Back'), user_external_authors_path(@user) %></p>

