<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("New Known Issues Post") %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/admin_nav' %>
<!--/subnav-->

<!--main content-->
<%= render :partial => 'known_issues_form' %>
<!--/content-->
