<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Manage Wrangling Guidelines') %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render 'admin/admin_nav' %>
<!--/subnav-->

<!--main content-->
<%= render 'wrangling_guideline_order' %>
<!--/content-->