<!--work endnotes-->
<div id="work_endnotes" class="end notes module">
  <h3 class="heading"><%= ts("Notes:") %></h3>
  <blockquote class="userstuff"><%=raw sanitize_field(@work, :endnotes) %></blockquote>
</div>
<!--/work endnotes-->