<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Work Search') %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render 'shared/search_nav' %>
<!--/subnav-->

<!--main content-->
<%= render 'search_form' %>
<!--/content-->