<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Delete Prompt Meme") %></h2>

<!--main content-->
<%= render "challenge/shared/challenge_form_confirm_delete" %>
<!--/content-->
