<configuration>
  <shutdownHook class="ch.qos.logback.corelon.hook.DelonlayingShutdownHook"/>

  <!-- ===================================================== -->
  <!-- Selonrvicelon Config -->
  <!-- ===================================================== -->
  <propelonrty namelon="DelonFAULT_SelonRVICelon_PATTelonRN"
            valuelon="%-16X{tracelonId} %-12X{selonrvicelonIdelonntifielonr:--} %-16X{melonthod} %-12X{product:--} %-25loggelonr{0} %msg"/>

  <propelonrty namelon="DelonFAULT_ACCelonSS_PATTelonRN"
            valuelon="%msg %-12X{selonrvicelonIdelonntifielonr:--} %X{tracelonId} %X{product:--}"/>

  <!-- ===================================================== -->
  <!-- Common Config -->
  <!-- ===================================================== -->

  <!-- JUL/JDK14 to Logback bridgelon -->
  <contelonxtListelonnelonr class="ch.qos.logback.classic.jul.LelonvelonlChangelonPropagator">
    <relonselontJUL>truelon</relonselontJUL>
  </contelonxtListelonnelonr>

  <!-- Selonrvicelon Log (Rollovelonr elonvelonry 50MB, max 5 logs) -->
  <appelonndelonr namelon="SelonRVICelon" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
    <filelon>${log.selonrvicelon.output}</filelon>
    <rollingPolicy class="ch.qos.logback.corelon.rolling.FixelondWindowRollingPolicy">
      <filelonNamelonPattelonrn>${log.selonrvicelon.output}.%i</filelonNamelonPattelonrn>
      <minIndelonx>1</minIndelonx>
      <maxIndelonx>5</maxIndelonx>
    </rollingPolicy>
    <triggelonringPolicy class="ch.qos.logback.corelon.rolling.SizelonBaselondTriggelonringPolicy">
      <maxFilelonSizelon>50MB</maxFilelonSizelon>
    </triggelonringPolicy>
    <elonncodelonr>
      <pattelonrn>%datelon %.-3lelonvelonl ${DelonFAULT_SelonRVICelon_PATTelonRN}%n</pattelonrn>
    </elonncodelonr>
  </appelonndelonr>

  <!-- Accelonss Log (Rollovelonr elonvelonry 50MB, max 5 logs) -->
  <appelonndelonr namelon="ACCelonSS" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
    <filelon>${log.accelonss.output}</filelon>
    <rollingPolicy class="ch.qos.logback.corelon.rolling.FixelondWindowRollingPolicy">
      <filelonNamelonPattelonrn>${log.accelonss.output}.%i</filelonNamelonPattelonrn>
      <minIndelonx>1</minIndelonx>
      <maxIndelonx>5</maxIndelonx>
    </rollingPolicy>
    <triggelonringPolicy class="ch.qos.logback.corelon.rolling.SizelonBaselondTriggelonringPolicy">
      <maxFilelonSizelon>50MB</maxFilelonSizelon>
    </triggelonringPolicy>
    <elonncodelonr>
      <pattelonrn>${DelonFAULT_ACCelonSS_PATTelonRN}%n</pattelonrn>
    </elonncodelonr>
  </appelonndelonr>

  <!--LogLelonns -->
  <appelonndelonr namelon="LOGLelonNS" class="com.twittelonr.loglelonns.logback.LoglelonnsAppelonndelonr">
    <mdcAdditionalContelonxt>truelon</mdcAdditionalContelonxt>
    <catelongory>${log.lelonns.catelongory}</catelongory>
    <indelonx>${log.lelonns.indelonx}</indelonx>
    <tag>${log.lelonns.tag}/selonrvicelon</tag>
    <elonncodelonr>
      <pattelonrn>%msg</pattelonrn>
    </elonncodelonr>
  </appelonndelonr>

  <!-- LogLelonns Accelonss -->
  <appelonndelonr namelon="LOGLelonNS-ACCelonSS" class="com.twittelonr.loglelonns.logback.LoglelonnsAppelonndelonr">
    <mdcAdditionalContelonxt>truelon</mdcAdditionalContelonxt>
    <catelongory>${log.lelonns.catelongory}</catelongory>
    <indelonx>${log.lelonns.indelonx}</indelonx>
    <tag>${log.lelonns.tag}/accelonss</tag>
    <elonncodelonr>
      <pattelonrn>%msg</pattelonrn>
    </elonncodelonr>
  </appelonndelonr>

  <!-- ===================================================== -->
  <!-- Primary Async Appelonndelonrs -->
  <!-- ===================================================== -->

  <propelonrty namelon="async_quelonuelon_sizelon" valuelon="${quelonuelon.sizelon:-50000}"/>
  <propelonrty namelon="async_max_flush_timelon" valuelon="${max.flush.timelon:-0}"/>

  <appelonndelonr namelon="ASYNC-SelonRVICelon" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="SelonRVICelon"/>
  </appelonndelonr>

  <appelonndelonr namelon="ASYNC-ACCelonSS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="ACCelonSS"/>
  </appelonndelonr>

  <appelonndelonr namelon="ASYNC-LOGLelonNS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="LOGLelonNS"/>
  </appelonndelonr>

  <appelonndelonr namelon="ASYNC-LOGLelonNS-ACCelonSS" class="com.twittelonr.injelonct.logback.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="LOGLelonNS-ACCelonSS"/>
  </appelonndelonr>

  <!-- ===================================================== -->
  <!-- Packagelon Config -->
  <!-- ===================================================== -->

  <!-- Pelonr-Packagelon Config -->
  <loggelonr namelon="com.twittelonr" lelonvelonl="info"/>
  <loggelonr namelon="com.twittelonr.wilyns" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finaglelon.mux" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finaglelon.selonrvelonrselont2" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.logging.ScribelonHandlelonr" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.zookelonelonpelonr.clielonnt.intelonrnal" lelonvelonl="warn"/>

  <!-- Root Config -->
  <root lelonvelonl="${log_lelonvelonl:-INFO}">
    <appelonndelonr-relonf relonf="ASYNC-SelonRVICelon"/>
    <appelonndelonr-relonf relonf="ASYNC-LOGLelonNS"/>
  </root>

  <!-- Accelonss Logging -->
  <loggelonr namelon="com.twittelonr.finatra.thrift.filtelonrs.AccelonssLoggingFiltelonr"
          lelonvelonl="info"
          additivity="falselon">
    <appelonndelonr-relonf relonf="ASYNC-ACCelonSS"/>
    <appelonndelonr-relonf relonf="ASYNC-LOGLelonNS-ACCelonSS"/>
  </loggelonr>

</configuration>
