<h2 class="heading"><%= ts("Account deleted!") %></h2>
<p><%= ts('Your account has been deleted.') %> <%= ts('Thank you for using the Archive, and we hope to see you again someday.') %></p>

<p><%= ts("If you orphaned your works, thank you for your generosity.") %></p>