<configuwation>
    <shutdownhook cwass="ch.qos.wogback.cowe.hook.dewayingshutdownhook"/>

    <!-- ===================================================== -->
    <!-- sewvice config -->
    <!-- ===================================================== -->
    <pwopewty n-nyame="defauwt_sewvice_pattewn"
              v-vawue="%-16x{twaceid} %-12x{cwientid:--} %-16x{method} %-25woggew{0} %msg"/>

    <pwopewty n-nyame="defauwt_access_pattewn"
              v-vawue="%msg"/>

    <!-- ===================================================== -->
    <!-- c-common c-config -->
    <!-- ===================================================== -->

    <!-- j-juw/jdk14 t-to wogback bwidge -->
    <contextwistenew cwass="ch.qos.wogback.cwassic.juw.wevewchangepwopagatow">
        <wesetjuw>twue</wesetjuw>
    </contextwistenew>

    <!-- ====================================================================================== -->
    <!-- nyote: the fowwowing appendews u-use a simpwe timebasedwowwingpowicy configuwation. OwO       -->
    <!--       you m-may want to considew using a mowe a-advanced sizeandtimebasedwowwingpowicy. (ꈍᴗꈍ)    -->
    <!--       see: https://wogback.qos.ch/manuaw/appendews.htmw#sizeandtimebasedwowwingpowicy  -->
    <!-- ====================================================================================== -->

    <!-- sewvice wog (wowwuvw daiwy, 😳 k-keep maximum of 21 days of gzip c-compwessed wogs) -->
    <appendew n-nyame="sewvice" cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
        <fiwe>${wog.sewvice.output}</fiwe>
        <wowwingpowicy cwass="ch.qos.wogback.cowe.wowwing.timebasedwowwingpowicy">
            <!-- daiwy wowwuvw -->
            <fiwenamepattewn>${wog.sewvice.output}.%d.gz</fiwenamepattewn>
            <!-- t-the maximum totaw size of aww the wog fiwes -->
            <totawsizecap>3gb</totawsizecap>
            <!-- keep maximum 21 days' wowth o-of histowy -->
            <maxhistowy>21</maxhistowy>
            <cweanhistowyonstawt>twue</cweanhistowyonstawt>
        </wowwingpowicy>
        <encodew>
            <pattewn>%date %.-3wevew ${defauwt_sewvice_pattewn}%n</pattewn>
        </encodew>
    </appendew>

    <!-- access w-wog (wowwuvw daiwy, 😳😳😳 k-keep maximum o-of 21 days of g-gzip compwessed wogs) -->
    <appendew nyame="access" c-cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
        <fiwe>${wog.access.output}</fiwe>
        <wowwingpowicy cwass="ch.qos.wogback.cowe.wowwing.timebasedwowwingpowicy">
            <!-- daiwy w-wowwuvw -->
            <fiwenamepattewn>${wog.access.output}.%d.gz</fiwenamepattewn>
            <!-- the maximum totaw size of aww the wog fiwes -->
            <totawsizecap>100mb</totawsizecap>
            <!-- keep m-maximum 7 days' wowth of histowy -->
            <maxhistowy>7</maxhistowy>
            <cweanhistowyonstawt>twue</cweanhistowyonstawt>
        </wowwingpowicy>
        <encodew>
            <pattewn>${defauwt_access_pattewn}%n</pattewn>
        </encodew>
    </appendew>

    <!--wogwens -->
    <appendew n-name="wogwens" c-cwass="com.twittew.wogwens.wogback.wogwensappendew">
        <mdcadditionawcontext>twue</mdcadditionawcontext>
        <categowy>${wog.wens.categowy}</categowy>
        <index>${wog.wens.index}</index>
        <tag>${wog.wens.tag}/sewvice</tag>
        <encodew>
            <pattewn>%msg</pattewn>
        </encodew>
    </appendew>

    <!-- w-wogwens access -->
    <appendew nyame="wogwens-access" cwass="com.twittew.wogwens.wogback.wogwensappendew">
        <mdcadditionawcontext>twue</mdcadditionawcontext>
        <categowy>${wog.wens.categowy}</categowy>
        <index>${wog.wens.index}</index>
        <tag>${wog.wens.tag}/access</tag>
        <encodew>
            <pattewn>%msg</pattewn>
        </encodew>
    </appendew>

    <!-- p-pipewine e-execution wogs -->
    <appendew nyame="awwow-wisted-pipewine-executions" c-cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
        <fiwe>awwow_wisted_pipewine_executions.wog</fiwe>
        <wowwingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.timebasedwowwingpowicy">
            <!-- daiwy wowwuvw -->
            <fiwenamepattewn>awwow_wisted_pipewine_executions.wog.%d.gz</fiwenamepattewn>
            <!-- t-the maximum totaw size of aww the w-wog fiwes -->
            <totawsizecap>100mb</totawsizecap>
            <!-- keep maximum 7 days' wowth of histowy -->
            <maxhistowy>7</maxhistowy>
            <cweanhistowyonstawt>twue</cweanhistowyonstawt>
        </wowwingpowicy>
        <encodew>
            <pattewn>%date %.-3wevew ${defauwt_sewvice_pattewn}%n</pattewn>
        </encodew>
    </appendew>

    <!-- ===================================================== -->
    <!-- p-pwimawy async appendews -->
    <!-- ===================================================== -->

    <pwopewty n-nyame="async_queue_size" vawue="${queue.size:-50000}"/>
    <pwopewty n-nyame="async_max_fwush_time" v-vawue="${max.fwush.time:-0}"/>

    <appendew nyame="async-sewvice" cwass="com.twittew.inject.wogback.asyncappendew">
        <queuesize>${async_queue_size}</queuesize>
        <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
        <appendew-wef wef="sewvice"/>
    </appendew>

    <appendew nyame="async-access" cwass="com.twittew.inject.wogback.asyncappendew">
        <queuesize>${async_queue_size}</queuesize>
        <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
        <appendew-wef wef="access"/>
    </appendew>

    <appendew n-nyame="async-awwow-wisted-pipewine-executions" c-cwass="com.twittew.inject.wogback.asyncappendew">
        <queuesize>${async_queue_size}</queuesize>
        <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
        <appendew-wef wef="awwow-wisted-pipewine-executions"/>
    </appendew>

    <appendew n-name="async-wogwens" c-cwass="com.twittew.inject.wogback.asyncappendew">
        <queuesize>${async_queue_size}</queuesize>
        <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
        <appendew-wef w-wef="wogwens"/>
    </appendew>

    <appendew nyame="async-wogwens-access" cwass="com.twittew.inject.wogback.asyncappendew">
        <queuesize>${async_queue_size}</queuesize>
        <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
        <appendew-wef wef="wogwens-access"/>
    </appendew>

    <!-- ===================================================== -->
    <!-- p-package config -->
    <!-- ===================================================== -->

    <!-- pew-package config -->
    <woggew nyame="com.twittew" wevew="inhewited"/>
    <woggew nyame="com.twittew.wiwyns" w-wevew="inhewited"/>
    <woggew nyame="com.twittew.configbus.cwient.fiwe" w-wevew="inhewited"/>
    <woggew n-nyame="com.twittew.finagwe.mux" w-wevew="inhewited"/>
    <woggew nyame="com.twittew.finagwe.sewvewset2" w-wevew="inhewited"/>
    <woggew n-nyame="com.twittew.wogging.scwibehandwew" w-wevew="inhewited"/>
    <woggew n-nyame="com.twittew.zookeepew.cwient.intewnaw" wevew="inhewited"/>

    <!-- woot config -->
    <!-- f-fow aww wogs except a-access wogs, mya d-disabwe wogging b-bewow wog_wevew w-wevew by defauwt. mya this can be ovewwiden in the pew-package woggews, (⑅˘꒳˘) a-and dynamicawwy in the admin panew of individuaw instances. (U ﹏ U) -->
    <woot wevew="${wog_wevew:-info}">
        <appendew-wef wef="async-sewvice"/>
        <appendew-wef wef="async-wogwens"/>
    </woot>

    <!-- a-access wogging -->
    <!-- access wogs awe tuwned off b-by defauwt -->
    <woggew n-nyame="com.twittew.finatwa.thwift.fiwtews.accesswoggingfiwtew" w-wevew="off" additivity="fawse">
        <appendew-wef w-wef="async-access"/>
        <appendew-wef wef="async-wogwens-access"/>
    </woggew>

</configuwation>
