<ul class="navigation actions" role="navigation">
  <li><%= span_if_current ts("Work Search"), search_works_path %></li>
  <li><%= span_if_current ts("People Search"), search_people_path %></li>
  <li><%= span_if_current ts("Bookmark Search"), search_bookmarks_path %></li>
  <li><%= span_if_current ts("Tag Search"), search_tags_path %></li>
</ul>