<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= ts("Edit API Token") %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <%= render "navigation" %>
  <!--/subnav-->

  <!--main content-->
  <%= render "api_key_form" %>
  <!--/content-->
</div>
