<div id="DMCA" class="userstuff">
  <p>
    The Digital Millennium Copyright Act (17 U.S.C. § 512)("DMCA"), creates a safe harbor, or a legal exemption, from copyright infringement liability for Internet service providers (ISPs) and other intermediaries. To encourage and maintain free speech on our sites, the Organization for Transformative Works (OTW) will push back against <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown requests if we believe that the content in question is actually lawful. The law requires that <acronym title="Digital Millennium Copyright Act">DMCA</acronym> requests be made by the holder of a valid copyright in the work or by an agent authorized to act on behalf of the owner, and requires that requests are made in good faith under penalty of perjury.
  </p>
  <p>
    If you are a copyright owner and you believe that your work is being infringed, in the spirit of open collaboration, we encourage you to seek resolution through the volunteer community. You may <a href="http://archiveofourown.org/abuse_reports/new">contact abuse</a> with an informal request for content removal. Please provide the exact URL (the "address" or "location" of the page as shown by your web browser) of the content and provide enough information to substantiate your claim of copyright ownership. You must support your concern with a link to your publication, a scanned page of the work, and enough publication details for the volunteer community to evaluate your request.
  </p>
  <p>
    Alternatively, you may initiate a formal <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown process. Please note that a third party may submit a counternotice challenging your takedown request, at which point the <acronym title="Organization for Transformative Works">OTW</acronym> is required to restore the previously-removed content. You may then initiate legal proceedings against the third party who files a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> counternotice in order to determine copyright ownership and the legality of the material’s use. You may also be liable for damages, such as costs and attorney fees, if you knowingly and materially misrepresent your claim. 
  </p>
  <h3 class="heading">
    How to initiate a formal <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown request...
  </h3>
  <p>
    To initiate a formal <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown request, please send a letter to us at legal (at)  transformativeworks.org or to our designated agent:
  </p>
  <p>
    Organization for Transformative Works <br/>
    228 Park Ave S #18156<br/>
    New York, New York 10003-1502<br/>
    Attention: Legal
  </p>
  <p>
    The takedown notice must substantially comply with the provisions of 17 U.S.C. § 512(c)(3)(A). Submission of a takedown notice further requires that you consent to the jurisdiction of a United States court. Statutory requirements of a valid <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown notice include:
    <ol>
      <li> your physical or electronic signature;</li>
      <li> your contact information;</li>
      <li> identification of what work is being infringed;</li>
      <li> identification of the material that you believe to be infringing and a description that allows us to locate the material on our website;</li>
      <li> a statement that you have a good faith belief that the use is not authorized by the copyright owner, its agent, or the law; and</li>
      <li> a statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</li>
    </ol>
  </p>

  <h3 class="heading">
    Once you have initiated a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown notice...
  </h3>
  <p>
    If the <acronym title="Organization for Transformative Works">OTW</acronym> receives a valid and statutorily-compliant <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown notice, the <acronym title="Organization for Transformative Works">OTW</acronym> will remove the content upon satisfactory review of the merits of the infringement claim. Once the content is removed, we will send the report to Chilling Effects and other third parties if appropriate. We will also take reasonable steps to notify the content uploader of the <acronym title="Digital Millennium Copyright Act">DMCA</acronym> notice. 
  </p>
  <p>
    The content uploader may respond with a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> counternotice. The counternotice operates much like the original notice, but works in the reverse. Please note that there is no statute of limitations for counternotices.
  </p>
  <p>
    If the <acronym title="Organization for Transformative Works">OTW</acronym> receives a valid counternotice, we will seek to notify you of its receipt. You will have 10 business days to file suit and enjoin continued use of the content. If you decline to file suit, the <acronym title="Organization for Transformative Works">OTW</acronym> will restore the content pursuant to 17 U.S.C. § 512 (g)(2)(B)-(C). The <acronym title="Organization for Transformative Works">OTW</acronym> may also post the counternotice online.
  </p>

  <h3 class="heading">
    If you are an uploader of content...
  </h3>
  <p>
    If you are the uploader of content that has been subject to removal in response to a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown notice, we will make reasonable efforts to notify you of the action. In an effort to be transparent, we will also post the <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown notice on Chilling Effects and elsewhere if appropriate.
  </p>
  <p>
    If a contribution of yours was the subject of a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> takedown and you believe that the contribution did not violate copyright laws, you may wish to file a counternotice. Please consider that filing a counternotice may lead to legal proceedings between you and the sender of the takedown notice to determine ownership and legality of the use of the material. You may wish to consult an attorney before filing a counternotice.
  </p>
  <p>
    Any counternotice that you file must meet statutory provisions under the <acronym title="Digital Millennium Copyright Act">DMCA</acronym> and requires that you consent to the jurisdiction of a United States court. Requirements of a compliant <acronym title="Digital Millennium Copyright Act">DMCA</acronym> counternotice under 17 U.S.C. § 512 (g)(3) include:
  </p>
  <ol>
    <li> your physical or electronic signature;</li>
    <li> your name, address, and phone number;</li>
    <li> identification of the material and its location before it was removed;</li>
    <li> a statement under penalty of perjury that the material was removed by mistake or misidentification;</li>
    <li> your consent to the jurisdiction of a federal court in the district where you live (if you are in the U.S.), or your consent to the jurisdiction of a federal court in the district where your service provider is located (if you are not in the U.S.); and</li>
    <li> your consent to accept service of process from the party who submitted the takedown notice.</li>
  </ol>
  <h3 class="heading">
    What can I expect if I file a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> counternotice?
  </h3>
  <p>
    If the <acronym title="Organization for Transformative Works">OTW</acronym> receives a statutorily-compliant counternotice, we will make reasonable efforts to notify the original requestor of the takedown that a counternotice was received. The original requestor will have 10 business days from the date the <acronym title="Organization for Transformative Works">OTW</acronym> notifies the original requestor of the counternotice to prevent the restoration of the content by filing a lawsuit. If the original requestor has not filed suit, the <acronym title="Organization for Transformative Works">OTW</acronym> will restore your content between 10 and 14 business days after receipt of the counternotice. The <acronym title="Organization for Transformative Works">OTW</acronym> may also post the counternotice online, with identifying information redacted. 
  </p>
  <h3 class="heading">
    What happens to repeat copyright infringers?
  </h3>
  <p>
    Pursuant to the <acronym title="Digital Millennium Copyright Act">DMCA</acronym>, we will terminate, in appropriate circumstances, users and account holders of our system and network who are repeat infringers (see 17 U.S.C. § 512 (i)(1)(A)).
  </p>
  <p>
    In the event that material is removed due to a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> notice, the only recourse for restoring such material is to file a counter-notice with the <acronym title="Organization for Transformative Works">OTW</acronym>. If you believe that a take-down notice which has been acted upon by the <acronym title="Organization for Transformative Works">OTW</acronym> is without legal basis, please feel free to visit the following sites as a first step in learning about filing a counter-notice:
  </p>
  <ol>
    <li> <a href="http://www.dmlp.org/legal-guide/responding-dmca-takedown-notice-targeting-your-content">"Responding to a <acronym title="Digital Millennium Copyright Act">DMCA</acronym> Takedown Notice Targeting Your Content"</a> at Digital Media Law Project</li>
    <li> <a href="https://www.lumendatabase.org/topics/14">Chilling Effects Clearinghouse FAQ</a></li>
    <li> <a href="https://www.lumendatabase.org/topics/29#topic-faqs">Chilling Effects Clearinghouse DMCA Notices FAQ</a></li>
    <li> <a href="http://www.newmediarights.org/guide/legal/copyright/dmca/Sample_DMCA_CounterNotice_letter_when_claiming_fair_use_of_a_copyrighted_work">newmediarights.org</a></li>
  </ol>
  <p>
    All notices should be sent to the OTW's designated agent.
    <hr/>
    Adapted from Wikipedia's DMCA policy.
  </p>

</div>
