<% # IMPORTANT: Also update current_tos_version in application_controller %>
<div id="tos" class="userstuff">
  <h2 class="heading">The Archive of Our Own is a place for fanworks, including fan fiction based on books, TV, movies, comics, other media, and real-person fiction (<abbr>RPF</abbr>).</h2>

  <h3 class="heading">What We Believe</h3>
  <ol>
    <li>Our goal is maximum inclusiveness (<a href="/tos_faq#max_inclusiveness">refer to the ToS FAQ</a>) of content. Our software is <a href="https://github.com/otwcode/otwarchive">open-source and available</a> for others to use if they wish to implement the code elsewhere.</li>
    <li>We are committed to defending fanworks against legal challenges. Our position on transformative fanworks is detailed in the <a href="http://www.transformativeworks.org/faq/"><abbr title="Organization for Transformative Works">OTW</abbr> <abbr title="Frequently Asked Questions">FAQ</abbr></a>. We have legal resources and alliances on which we can draw. However, that is not a guarantee that the organization can or will fight each battle. The Board will take into account a variety of factors, both legal and otherwise, in responding to a legal challenge. Further information is available <a href="http://www.transformativeworks.org/legal">on the <abbr title="Organization for Transformative Works">OTW</abbr> site</a>.</li>
    <li>We do not sell the data that you post on, submit to or share on "<abbr title="Organization for Transformative Works">OTW</abbr> Sites" (transformativeworks.org, archiveofourown.org and fanlore.org) to third parties, and we do not include or accept paid advertisements from third parties. Each of the <abbr title="Organization for Transformative Works">OTW</abbr> Sites has Terms of Service and a Privacy Policy that explains what information we collect, how we use it and who we share it with; your use of any of the <abbr title="Organization for Transformative Works">OTW</abbr> Sites is governed by that site's Terms and Policy.</li>
    <li>We strive to make each <abbr title="Organization for Transformative Works">OTW</abbr> Site's Terms of Service (<abbr title="Terms of Service">ToS</abbr>) and Privacy Policy readable. We have tried to provide explanations for the more unusual legal terms. If you have terminology questions not covered here, Law.com's glossary may help, though we cannot vouch for the accuracy of outside sources, including those referenced in the <abbr title="Terms of Service">ToS</abbr>.</li>
  </ol>

  <h3 class="heading">There are five parts to the Terms of Service (<abbr title="Terms of Service">ToS</abbr>):</h3>
  <ol class="toc" role="navigation">
    <li><a href="#general">General Principles</a></li>
    <li><a href="#age">Age Policy</a></li>
    <li><a href="#privacy">Privacy Policy</a></li>
    <li><a href="#content">Content and Abuse Policies</a></li>
    <li><a href="#assorted">Assorted Specialized Policies</a></li>
  </ol>

  <h4 class="heading"><a name="general" id="general">I. General Principles</a></h4>

  <h5 class="heading"><a name="I.A.">A. The legalese: including where a lawsuit would be filed, when, and under what law</a></h5>
  <p>The <abbr title="Terms of Service">ToS</abbr> constitute the entire agreement between you and the Organization for Transformative Works (<abbr title="Organization for Transformative Works">OTW</abbr>) and govern your use of the Archive of Our Own service (hereinafter "Service", "AO3" or "Archive"). It takes the place of all prior agreements between you and the OTW concerning your use of the Service. It does not govern your use of other <abbr title="Organization for Transformative Works">OTW</abbr> sites and/or projects including <a href="http://www.transformativeworks.org/otw_tos/">the <abbr title="Organization for Transformative Works">OTW</abbr> site itself</a>, <a href="https://fanlore.org/wiki/Fanlore:Terms_of_Service">Fanlore</a>, or <a href="http://www.transformativeworks.org/otw_tos/">Transformative Works and Cultures</a>, or <a href="http://www.transformativeworks.org/otw_tos/">donations to or membership in the <abbr title="Organization for Transformative Works">OTW</abbr></a>, or <a href="http://www.transformativeworks.org/otw_tos/"><abbr title="Organization for Transformative Works">OTW</abbr> elections</a>, all of which are covered under separate agreements hosted on each of the <abbr title="Organization for Transformative Works">OTW</abbr> Sites.</p>
  <p>The AO3 <abbr title="Terms of Service">ToS</abbr>, the relationship between you and the <abbr title="Organization for Transformative Works">OTW</abbr>, and all disputes arising out of or related to it, shall be governed by the laws of the United States and specifically the State of New York (<a href="/tos_faq#ny_law">refer to the ToS FAQ</a>), without regard to its conflict of law provisions.</p>

  <p>You and the <abbr title="Organization for Transformative Works">OTW</abbr> agree to submit to the personal and exclusive jurisdiction of the courts located within New York County (Manhattan), New York, and to waive any objection to the laying of venue there.</p>
  <p>The <abbr title="Organization for Transformative Works">OTW</abbr>'s failure to enforce any part of the <abbr title="Terms of Service">ToS</abbr> will not waive the <abbr title="Organization for Transformative Works">OTW</abbr>'s ability to enforce it, and any waiver with regard to a specific instance shall not constitute a waiver of any other breaches of the <abbr title="Terms of Service">ToS</abbr>, even with regard to the same user.</p>
  <p>If any provision of the <abbr title="Terms of Service">ToS</abbr> is found by a court of competent jurisdiction to be invalid, you agree that the court should give effect to the party's intentions as reflected in the provision, and that the other provisions of the <abbr title="Terms of Service">ToS</abbr> remain in full force and effect.</p>
  <p>You agree that, regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Archive or the <abbr title="Terms of Service">ToS</abbr> must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>

  <h5 class="heading"><a name="I.B.">B. You agree to the Terms of Service</a></h5>
  <ol>
    <li>
      <p>Archive Of Our Own hosts and shares content created by fans, for fans. Our Privacy Policy is a part of these Terms of Service and is contained in <a href="#privacy">Section III of these Terms of Service</a>. By submitting a work, comment, image, tag, item of information including personally identifying information like an email address, User Name, link, embedded image, audio file or video, or any other form of content ("Content") to the Archive, or by creating a User Account and/or by viewing any Content on the Archive, you affirm, confirm and state that you comply with and assent to the <abbr title="Terms of Service">ToS</abbr>, which incorporates the AO3 Privacy Policy.</p>
    </li>
    <li>
      <p>We may update the <abbr title="Terms of Service">ToS</abbr> as necessary. If the <abbr title="Terms of Service">ToS</abbr> change at any time after May 25, 2018, this is how the process will work: Changes in the <abbr title="Terms of Service">ToS</abbr> may be proposed at any time by or to the <abbr title="Organization for Transformative Works">OTW</abbr> Board. Proposed changes will be prominently disclosed on the Service, and we will offer at least a two-week comment period for proposed changes. At the end of the comment period, proposed changes will be voted on by the Board. If the Board votes in favor, the changes will become effective at that time. You can learn about changes in the <abbr title="Terms of Service">ToS</abbr> by visiting the Service.</p>
      <p>Subject to amendments of the update process by the OTW Board, this is the only means by which the Terms of Service may be altered.   The Terms of Service cannot be changed by, e.g., emails or oral communications with you.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="I.C.">C. Potential problems with the Service</a></h5>
  <ol>
    <li>
      <p>The <abbr title="Organization for Transformative Works">OTW</abbr> provides services, including the Archive of Our Own, on an "as is" and "as available" basis. The <abbr title="Organization for Transformative Works">OTW</abbr> does not warrant (that is, does not make a legally binding promise) that our services will meet your requirements; that our services will be uninterrupted, timely, secure, or error-free; or that the results you get from using the services will be accurate, reliable, or satisfactory to you. We will endeavor to provide the best possible service to users of the Service, but many things (e.g., possible outages, hackings, etc.) are not within our control and we cannot provide for all eventualities. In the event we learn of a breach of personally identifying information that users have submitted to the Service, we will notify affected users as soon as practicable.</p>
    </li>
    <li>
      <p>Any material you download, view, or otherwise access through the Service is at your own risk. You will be solely responsible for any damage or loss of data that results from the download of any such material.</p>
    </li>
    <li>
      <p>The <abbr title="Organization for Transformative Works">OTW</abbr> expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to, the <a href="/tos_faq#merchantability">implied warranties of merchantability</a>, fitness for a particular purpose and non-infringement. The <abbr title="Terms of Service">ToS</abbr> govern your use of the Service, and therefore no communication from anyone associated with the <abbr title="Organization for Transformative Works">OTW</abbr> will create any warranty that isn't expressly stated in the <abbr title="Terms of Service">ToS</abbr>.</p>
    </li>
    <li>
      <p>You expressly agree that the <abbr title="Organization for Transformative Works">OTW</abbr> shall not be liable to you for any damages of any kind (even if the <abbr title="Organization for Transformative Works">OTW</abbr> has been advised of the possibility of such damages) resulting from the Service, including but not limited to your use of or inability to use the Service; unauthorized access to or changes in Content or information you submit; and the acts and statements of third parties who use the Service.</p>
    </li>
    <li>
      <p>You agree that the <abbr title="Organization for Transformative Works">OTW</abbr> shall not be liable to you or any third party for any termination of or limitation on your access to <abbr title="Archive of Our Own">AO3</abbr>. The <abbr title="Organization for Transformative Works">OTW</abbr> may change, end, or put on hiatus the Service, or parts of its Services, at any time.</p>
    </li>
    <li>
      <p>You agree that the <abbr title="Organization for Transformative Works">OTW</abbr> shall not be liable to you for any claim arising out of Content you make available, your use of the Service, your connection to the Service, your use of the <abbr title="Terms of Service">ToS</abbr>, or your violation of any rights of another.</p>
      <p>In other words, the <abbr title="Organization for Transformative Works">OTW</abbr> is not liable to you for allowing you to post Content, download Content, use the Service, or interact with AO3. The <abbr title="Organization for Transformative Works">OTW</abbr> does not assume whatever legal risks you face by posting, viewing, or doing other things with Content.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="I.D.">D. What you can't do:</a></h5>
  <p>You agree not to use the Service (as well as the e-mail addresses and <abbr title="Uniform Resource Locator">URL</abbr>s of <abbr title="Organization for Transformative Works">OTW</abbr> sites):</p>
  <ol>
    <li>
      <p>to make available any Content or work that violates the <a href="#content">Content Policy</a>;</p>
    </li>
    <li>
      <p>to impersonate any person or entity, including, but not limited to, an <abbr title="Archive of Our Own">AO3</abbr> or <abbr title="Organization for Transformative Works">OTW</abbr> representative or volunteer, or falsely state or otherwise misrepresent your affiliation with a person or entity (fiction marked as such, including real-person fiction in first-person format, is not subject to this policy);</p>
    </li>
    <li>
      <p>to forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted to or through the Service or any <abbr title="Organization for Transformative Works">OTW</abbr> Content, sites, servers, networks, or services (headers and identifiers are defined as information actually used or intended to be used to route or authenticate Content, and do not include Content that simulates identifiers as part of a story, such as a fictional e-mail exchange);</p>
    </li>
    <li>
      <p>to make available any Content that a court has ruled constitutes patent, trademark, trade secret or copyright infringement (please be aware of the <abbr title="Organization for Transformative Works">OTW</abbr>'s <a href="http://www.transformativeworks.org/faq/">position on fanwork legality</a>);</p>
    </li>
    <li>
      <p>to make available <a href="#IV.B.">any unsolicited or unauthorized advertising</a> (defined as solicitations for direct or indirect commercial advantage), junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation;</p>
    </li>
    <li>
      <p>to make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer or hardware or telecommunications equipment;</p>
    </li>
    <li>
      <p>to interfere with or disrupt the Service, any <abbr title="Organization for Transformative Works">OTW</abbr>-hosted Content or sites, servers, Services or networks connected to <abbr title="Organization for Transformative Works">OTW</abbr> sites;</p>
    </li>
    <li>
      <p>to create an account if you are a resident or national of any country to which the U.S. has prohibited transactions by mandating a trade embargo, as detailed further by the State Department;</p>
    </li>
    <li>
      <p>to create an account if you are under the age of thirteen;</p>
    </li>
    <li>
      <p>to create an account if you are: between the ages of 13 and 16, and a resident or citizen of a country, including a European Economic Area country that states an age that is older than yours is required to consent to the processing of personal data without our obtaining written permission from a parent or legal guardian under the General Data Protection Regulation ("GDPR").</p>
      <p><a href="https://www.betterinternetforkids.eu/web/portal/practice/awareness/detail?articleId=3017751">A list of countries that apply the <abbr title="General Data Protection Regulation">GDPR</abbr> can be found here.</a> Each user is responsible for knowing the laws of their own country.</p>
    </li>
    <li>
      <p>to use <abbr title="Organization for Transformative Works">OTW</abbr> services to break any law that applies to you, including any rules or regulations having the force of law. Just by way of example, do not use the services to disseminate restricted technologies or violate laws governing the export of technical data. This provision is not intended to deal with matters subject to the <a href="#content">Content Policy</a>, but the Content Policy cannot cover every law in every country. As a general matter, the Archive follows US law. Content that is alleged to violate the law of a relevant jurisdiction will be dealt with according to the procedures established in the <a href="#content">Abuse Policy</a>.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="I.E.">E. Content you see through use of the Service:</a></h5>
  <ol>
    <li>
      <p>The <abbr title="Organization for Transformative Works">OTW</abbr> or users of its services may provide links to or content via sites that are owned or controlled by third parties, and may use such sites, including Twitter and Tumblr, to communicate information about the <abbr title="Organization for Transformative Works">OTW</abbr> and its family of sites. The <abbr title="Organization for Transformative Works">OTW</abbr> has no control over such sites or their terms of use or privacy policies, and you agree that the <abbr title="Organization for Transformative Works">OTW</abbr> is not responsible for and does not endorse their content, terms or availability.</p>
    </li>
   <li>
      <p>While we limit the types of embedded content visible or accessible via Archive-hosted Content, some of the content and/or works that you see displayed at the Archive are not hosted on the Archive or by the <abbr title="Organization for Transformative Works">OTW</abbr>. Such embedded content can include videos, tweets, images that are hosted by third-party sites, or audio files ("User-Embedded Content"). If you access a page that includes User-Embedded Content, the content file may share data with the hosted site as if you were on or at the hosted site. Although all visible Content, including embedded images or other works, must comply with our Content Policy, User-Embedded Content is not otherwise governed by these Terms of Use or the Archive Privacy Policy, and instead is covered by the Terms of Use and/or Privacy Policy of the service that hosts the User-Embedded Content. The Archive reserves the right to provide an indicator to users that User-Embedded Content is present on or visible via your Content.</p>
    </li>
    <li id="exposure">
      <p>You understand that the <abbr title="Organization for Transformative Works">OTW</abbr> does not prescreen Content or review it for purposes of compliance with the <abbr title="Terms of Service">ToS</abbr>. This includes but is not limited to work information, a work's content, text, graphics, comments, or any other material. Content, including User-Embedded Content, is the sole responsibility of the submitter. You understand that using the Archive may expose you to material that is offensive, triggering, erroneous, sexually explicit, indecent, blasphemous, objectionable, grammatically incorrect, or badly spelled.</p>
    </li>
    <li>
      <p>You recognize that the <abbr title="Organization for Transformative Works">OTW</abbr> does not endorse Content on the Archive in any way, except when material appears as an official statement of the <abbr title="Organization for Transformative Works">OTW</abbr>. No committee members, officers, or directors of the <abbr title="Organization for Transformative Works">OTW</abbr> are acting in an official capacity when they post fanworks, commentary, or other Content of the type generally provided by site users.</p>
    </li>
    <li>
      <p>The <abbr title="Organization for Transformative Works">OTW</abbr> is not liable to you for any Content to which you are exposed on or because of the Archive.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="I.F.">F. Valid e-mail address:</a></h5>
  <ol>
    <li>
      <p>As part of your registration, you agree to provide an accurate and current e-mail address and to update the address as necessary. If your e-mail address is inaccurate or not current, the Archive may <a href="/tos_faq#out_of_date">suspend your account</a>. Content provided by suspended accounts before the suspension will not be removed unless the <abbr title="Organization for Transformative Works">OTW</abbr> Board reasonably believes that presence/inclusion of said Content exposes the Archive and/or the <abbr title="Organization for Transformative Works">OTW</abbr> to liability.</p>
    </li>
    <li>
      <p>We reserve the right to share your e-mail address with the owners and/or moderators of any <a href="/faq/glossary#challengedef">Challenges</a> that you sign up for, and during Open Doors importation where the email address you provided on your AO3 account matches an email address that you used in connection with a non-AO3 collection that is being imported into AO3, your email address may be shared with the entity that manages the work(s) that is/are being imported onto AO3 through an Open Doors process.</p>
    </li>
    <li>
      <p>By registering or otherwise using an e-mail address in connection with the Archive, you assert that the e-mail address is not listed on any child protection registry. (There are child protection registries in Michigan and Utah, and our policy applies to any others that exist or may be adopted, whether local, state, or national, including any outside the U.S.)</p>
    </li>
  </ol>

  <h5 class="heading"><a name="I.G.">G. What we do with Content:</a></h5>
  <p>The <abbr title="Organization for Transformative Works">OTW</abbr> does not claim any ownership or copyright in your Content. <strong>Repeat: we do not own your Content</strong>. Nothing in this agreement changes that in any way. Running the Archive, however, requires us to make copies, and backup copies, on servers that may be located anywhere around the world.</p>
  <ol>
    <li>
      <p>You agree that we can make those copies and show your Content to other people, subject to your privacy settings. Specifically, by submitting Content, you grant the <abbr title="Organization for Transformative Works">OTW</abbr> a world-wide, royalty-free, nonexclusive license to make your Content available. "Making available" includes distributing, reproducing, performing, displaying, compiling, and modifying or adapting (<a href="/tos_faq#worldwide_nonexclusive">refer to the ToS FAQ</a>).</p>
      <p>Modifying and adapting here refer strictly to how your work is displayed&#8212;not how it is written, drawn, or otherwise created. But because your Content may be transmitted over various networks, we may have to make changes to the formatting or display of your Content in order to adapt to the technical requirements of different networks or devices. Multimedia content may not display properly on all devices. In some circumstances, we may make changes to improve accessibility. For example, we may automatically convert html tags to our standard forms (e.g., changing "bold" html to "strong"). Or we may make special provisions for accessibility, such as allowing you to use nonstandard fonts but also providing an alternate format for those who cannot read such fonts. We may use an internal search engine whose results display relevant snippets from your Content.</p>
      <p>User-provided tags are subject to organization, which is a process we call tag wrangling; for a full explanation of tag wrangling, <a href="/tos_faq#tag_wrangling">refer to the ToS FAQ</a>.</p>
    </li>
    <li>
      <p>Subject to the next paragraph of this policy, this license exists only for as long as you choose to continue to include such Content on the Archive and will terminate within a reasonable time after you remove or the <abbr title="Organization for Transformative Works">OTW</abbr> removes such Content from the Archive. We will always strive to make your Content unavailable to users as soon as possible should you choose to remove it. Though removed Content will not be publicly available, for legal and disaster recovery purposes we may retain backup copies for longer periods.</p>
    </li>
    <li>
      <p>You may provide Content to a part of the Archive that you do not completely control. For example, you may decide to participate in a challenge run by another user. Or you may provide Content to a part of the Archive where your Content can be deleted by other users, for example a Comments page. Where this is the case, by submitting Content to those parts of the Service, you agree to the rules for removing and retaining such Content on those parts of the Service.</p>
    </li>
    <li>
      <p>You acknowledge and agree that the <abbr title="Organization for Transformative Works">OTW</abbr> may preserve Content and may disclose Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: comply with legal process; enforce the <abbr title="Terms of Service">ToS</abbr>; respond to claims that any Content violates the rights of third parties; or protect the rights, property, or personal safety of the <abbr title="Organization for Transformative Works">OTW</abbr> services' users and the public.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="I.H.">H. Data and Content Processing</a></h5>

  <p><abbr title="Archive of Our Own">AO3</abbr> and the <abbr title="Organization for Transformative Works">OTW</abbr> exist to host Content by creative people like you. In order to host or share your works, as well as comments, Kudos and whatever you put into your User Profile, we have to process certain data and information including personally identifying information that we collect from Users, and that each User inputs. In order to operate the site, host <abbr title="Organization for Transformative Works">OTW</abbr> and user Content, and prevent technical issues and breaches, we need to process (e.g. collect, store, retrieve, disseminate, make available, and delete) certain data and information including personally identifying information, also known as "Personal Data". Personal Data includes your username, your email address, your IP information and any personally identifying information you enter on the Archive, including information that you put into your profile, a work's notes or tags, into the body of a work or other Content itself.</p>

  <p>By using the site, you consent to our collection, processing, retention and display of your Content as set forth and explained in these Terms of Use so we can operate, manage, display and share the creativity on <abbr title="Archive of Our Own">AO3</abbr>; if we believe that using, retaining and/or sharing that information is necessary to preserve the integrity of the Archive and the Content that we host; for legitimate legal and/or accounting audit purposes; when we have a good faith belief it is required by law, such as pursuant to a subpoena or other legal process; or when we have a good faith belief that doing so will help prevent imminent harm to someone.</p>

  <h4 class="heading"><a name="age" id="age">II. Archive Age Policy</a></h4>
  <p>This Age Policy covers the Archive's treatment of (a) users who are residents or citizens of the European Union and of the age where consent of a parent or legal guardian is required for the processing of personal data of children including email addresses and IP addresses, as well as certain uses of cookies; and (b) users who are under the age of thirteen (13) and residents or citizens of any other country.</p>
  <p>In compliance with United States regulations regarding online privacy for children, the Archive does not knowingly solicit or collect information from children under the age of thirteen (13). Children under the age of thirteen (13) are therefore not permitted to have an account or upload Content of any type to the Archive. By submitting Content to the Archive, you thereby confirm that you are thirteen (13) years old or older (<a href="/tos_faq#age_faq">refer to the ToS FAQ</a>).</p>
  <p>Asking a parent or legal guardian to upload Content does not constitute submitting Content under this policy. If you are under the age of thirteen (13) and not an Age-Barred Individual (as defined below), your parent or legal guardian may upload your Content through their account.</p>
  <p>We as an organization have opted to protect teen users' privacy. As a result, we cannot receive or host Content from individuals that we know are under the age of sixteen (16) and residents/citizens of the European Union, unless they are residents/citizens of the EU countries that allow the collection of Special Categories of Personal Data from those at a younger age and are old enough to consent to the collection of Special Categories of Personal Data in their own country. Any individual who is between the ages of 13 and 16 and a resident or citizen of a country, including a European Economic Area country, that states an age that is older than theirs is required to consent to the processing of personal data without our obtaining written permission from a parent or legal guardian under the GDPR ("Age-Barred Individual") may not maintain accounts or submit Content. AO3 Personnel may, in their reasonable discretion, hide and/or delete accounts held by and/or Content submitted by Age-Barred Individuals.</p>

  <h4 class="heading"><a name="privacy" id="privacy">III. Archive Privacy Policy</a></h4>
  <h5 class="heading"><a name="III.A.">A. Who runs the Archive</a></h5>
  <p>The Archive is a project of the Organization for Transformative Works (<abbr title="Organization for Transformative Works">OTW</abbr>), which is committed to fan privacy. For more information about how you can support the <abbr title="Organization for Transformative Works">OTW</abbr>, please see the <a href="http://www.transformativeworks.org/"><abbr title="Organization for Transformative Works">OTW</abbr> Website</a>. This Privacy Policy governs the Archive.</p>

  <h5 class="heading"><a name="III.B.">B. This TOS, including the Privacy Policy, applies only to the Archive</a></h5>
  <p>This Privacy Policy covers the Archive's treatment of personally identifying information submitted to us, and which we collect when you use our services in the course of ordinary communications. Each site or Service hosted by the <abbr title="Organization for Transformative Works">OTW</abbr> has its own Terms of Service and Privacy Policy. The <abbr title="Organization for Transformative Works">OTW</abbr> or users of its Services may provide links to or content via sites that are owned or controlled by third parties, and may use such sites, including Twitter and Tumblr, to communicate information about the <abbr title="Organization for Transformative Works">OTW</abbr> and its family of sites including the Archive. The <abbr title="Organization for Transformative Works">OTW</abbr> has no control over such sites or their terms of use or privacy policies, and you agree that the <abbr title="Organization for Transformative Works">OTW</abbr> is not responsible for and does not endorse their content, terms or availability. If you follow links off the Archive, you should review those sites' privacy policies, which may be different, and for which the Archive takes no responsibility.</p>

  <h5 class="heading"><a name="III.C.">C. About possible changes:</a></h5>
  <p>If these Terms of Service and/or this Privacy Policy change at any point in the future, we will post the policy changes to the <a href="/">Archive of Our Own</a>. Such changes will be used only for information provided by those who have visited, used, or accessed the Service after the effective date of such policy changes. If you are concerned about how your information is used, you should check back at the Archive site periodically to review the policies.</p>

  <h5 class="heading"><a name="III.D.">D. Archive adherence to the TOS:</a></h5>
  <p>If you feel that this Service is not following its stated information policy, please <a href="/abuse_reports/new">contact Archive Personnel</a>.</p>


 <h5 class="heading"><a name="III.E.">E. What we will do:</a></h5>
  <ol>
    <li>
      <p>Any information you include in your work, comment, profile, bookmark, summary, or other Content, including information about your religious views, political views or your sexual identity, or any personally identifying information such as your email address, location, or account User Name for other sites will be accessible by the general public if the Content is marked public, and by Archive users and personnel if the Content is marked accessible to Archive users only. If you save the Content in Draft form, it will be accessible by certain Archive personnel.</p>
    </li>
    <li>
      <p>We may collect personally identifying information such as your IP address and e-mail address when you request an Archive invitation, register for a user account with the Archive, visit any of the sites and services that are part of the <abbr title="Organization for Transformative Works">OTW</abbr> family of sites, or use any of the Archive's Services. We may use third-party services to store, process, or transmit data, or perform other technical functions related to operating the Service.  These services may include spam detectors, backup services, icon hosting, and e-mail services; a list of third-party services is provided in our <a href="http://www.transformativeworks.org/otw_tos/organization-for-transformative-works-subprocessor-list/">Subprocessor List</a>. We cannot guarantee other services' performance. We or the services we use may store or process your personally identifying information in data centers which may be located in the United States or other countries.</p>
    </li>
    <li>
      <p>We will use your email address internally for purposes of managing <abbr title="Archive of Our Own">AO3</abbr> and maintaining site integrity; if you agree to allow your email address to be public, it will be public and you can change that setting any time. You can choose to leave it private, or make it public on the Site; if you opt to make it public, everyone has the ability to access it and use it for any purpose. We may occasionally send emails to you from the Archive about your Content and account, the Archive and our fundraisers, as well as news that we reasonably believe to be of interest to our registered users; we will send you your invitation to register for the Archive via email as well. By creating and maintaining a User Account on and with AO3, you consent to receiving such emails, including fundraising emails. We reserve the right to send you notice of complaints raised against you, or alleged violations by you of the Terms of Service, as well as to reply to any email message you send to the Archive and/or its personnel. If you choose to participate in a Challenge, the Challenge maintainer(s) may have access to your e-mail address for purposes of communicating with you (See Section V.I.a. below for discussion of Challenges).</p>
    </li>
    <li>
      <p><strong><em>We collect, process and retain the following data for the following reasons:</em></strong></p>
      <ol style="list-style-type:lower-alpha;">
        <li>
          <p>E-mail Addresses: We collect email addresses of and from those who communicate with us via email and any Content or Personal Data included in emails to us. We need this information so we can respond to you, and so we can handle complaints about the Service and any users who may have violated the Terms of Use or other policies, and for other legal and accounting/audit reasons including maintaining the integrity of the Archive and the Content that we host;</p>
        </li>
        <li>
          <p>User-Specific Information: We collect information about what pages users access or visit including your interactions with integral Archive features such as Kudos, Comments, Bookmarks and the tags that you "favorite", as well as referral information (i.e. data about what site you are coming to the Archive from) and whether there are errors in displaying Content to you. We need this information to maintain the integrity of the site, the Service and the Content that we host; to provide you with the Content that you are seeking; to minimize "gaming" Kudos counts and spam; and for other legal and accounting/audit reasons.</p>
          <ol>
            <li>
              <p>You consent to our collection, processing, retention and display of your Content, including personal data, when you upload a work in a manner that is available to all Archive users, or the general public, depending on which you choose. We need such consent because your purpose in and reason for uploading Content to the Archive is for that Content to be visible to users, and if you opt to, for it to be visible to the general public.</p>
            </li>
            <li>
              <p>You consent to our collection, processing and retention of your Content, and personal information connected therewith, including display to you and certain Archive personnel when you upload a work in "Draft" form. We need such consent because your purpose in and reason for uploading such Draft Content to the Archive is for that Content to be accessible to you at a later date. In order for that Content to be available to you, it also needs to be accessible to those on the Archive team who have access to our servers, and to the Board, Policy &#38; Abuse and Legal committees if necessary to enforce these Terms of Service and maintain the integrity of the Service.</p>
            </li>
            <li>
              <p>You consent to our collection, processing, retention and display of personal information and Content you submit for inclusion on your Profile Page. We need such consent because your purpose in and reason for including information in your Profile is for that Content to be visible to the general public.</p>
            </li>
            <li>
              <p>You consent to our collection, processing, retention and display of text that you submit as Comments, as well as your personal information associated therewith. We need such consent because your purpose in and reason for submitting a Comment is for that Content to be visible to the general public.</p>
            </li>
            <li>
              <p>When you are logged in, you consent to our collection, processing, retention, display and use of your User Name as well as our association of it with Kudos that you submit. We need such consent because your purpose in and reason for submitting Kudos is for that Content to be visible to the general public.</p>
            </li>
            <li>
              <p>Whether you are logged in or not, you consent to our collection, processing, retention and use of your IP address for a limited time, including when you give Kudos. We need this consent because your purpose in and reason for submitting Kudos is to engage publicly with the Content that you enjoyed without publicly associating your Kudos with a User Name, and you wish for such Kudos to be publicly visible and disassociated from your Archive Account, if you have one; and because we endeavour to count only one view of a URL per cookie session on the "Hit" count for a work. Temporarily collecting, processing, and retaining IP addresses permits us to conduct internal management of Kudos and Hits.</p>
            </li>
          </ol>
        </li>
        <li>
          <p>IP Addresses: we collect and process the IP addresses of Archive visitors, including registered users. We need this information so we can provide you with the Content that you are requesting, to allow you to submit Comments, Content and Profile information, and leave Kudos, and for other legal and accounting audit reasons including maintaining the integrity of the Archive and the Content that we host. Certain IP information may be collected by the server for log purposes and used for limited technical assessments of the Service.</p>
        </li>
        <li>
          <p>Logs: We collect and process Logs of server interactions, as well as event logs. We need this information for legal and accounting/audit reasons, including maintaining the integrity of the Archive and the Content that we host.</p>
        </li>
        <li>
          <p>Cookies: We use cookies to collect and store visitors' preferences; customize web pages' content based on visitors' browser type or other information that the visitor sends; and record activity at the Archive in order to provide better service when visitors return to our site. Cookies must be enabled for the Archive to function properly with your computer. The Archive has no access to cookies set by other sites.</p>
        </li>
        <li>
          <p>If for any reason you terminate your user account with us, we will destroy active records containing your Personal Data as soon as reasonably possible. "Reasonably" here means no more than thirty business days from the termination of the account; however, we may have to retain some information for a longer period as legal records or for auditing purposes. If we terminate your service, we may retain enough information to prevent you from signing up for the service in the future. If you delete Content from the Archive, it will not be recoverable.</p>
        </li>
        <li>
          <p>If we receive a complaint about a violation of someone's intellectual property rights, we reserve the right to disclose the information provided by the rightsholder or the rightsholder's representative to the subject of the complaint. If we receive a complaint about other matters, such as plagiarism or harassment, we will follow the <a href="#content">Abuse Policy</a>, which explains what information provided by the complainant may be disclosed to the subject of the complaint.</p>
        </li>
      </ol>
    </li>
  </ol>

  <h5 class="heading"><a name="III.F.">F. What we will not do:</a></h5>
  <ol>
    <li>
      <p>The <abbr title="Organization for Transformative Works">OTW</abbr> will not provide any third party with any of your personal information or any of the information we collect, except as provided under our Terms of Service. We will not use your personally identifying information to market third party products and services to you via the Archive.</p>
    </li>
    <li>
      <p>We will not sell, trade, or rent your personally identifying information. Except as provided under this policy, we will not disclose your personally identifying information to any third party without your prior consent unless we (1) are legally compelled to do so, (2) have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order, or legal process served on the <abbr title="Organization for Transformative Works">OTW</abbr>, or (3) are cooperating with law enforcement authorities. As to (3), we will cooperate with all investigations conducted by law enforcement authorities within the United States of America when legally required to do so. Cooperation with law enforcement authorities from other countries and cooperation when it is not legally required are at our sole discretion. Our discretion looks favorably on freedom and justice, and unfavorably on oppression and violence.</p>
    </li>
    <li>
      <p>Unless legally prohibited, we will attempt to notify you any time we disclose your personally identifying information to a third party. In some cases, the information we have, such as an IP address, may be insufficient for us to notify you.</p>
    </li>
  </ol>

  <h4 class="heading"><a name="content" id="content">IV. Content and Abuse Policies</a></h4>
  <p>We recognize that there is no such thing as a popular abuse policy. By their nature, abuse complaints are unpleasant at best. And policy needs to be applied by people, which always complicates matters. We have tried to set out clear procedures to minimize and channel the inevitable conflicts.</p>
  <p>The Content and Abuse Policy covers <a href="#IV.A.">procedures</a>, <a href="#IV.B.">spam and commercial promotion</a>, <a href="#IV.C.">threatening the technical integrity of the site</a>, <a href="#IV.D.">copyright</a>, <a href="#IV.E.">plagiarism</a>, <a href="#IV.F.">personal information and fannish identities</a>, <a href="#IV.G.">harassment</a>, <a href="#IV.H.">illegal and non-fanwork content</a>, and <a href="#IV.K.">ratings and warnings</a>. We have developed a <abbr>FAQ</abbr> page to answer additional questions about Content and Abuse (<a href="/tos_faq#content_faq">refer to the ToS FAQ</a>).</p>
  <p>The Archive does not prescreen for content. Complaints are investigated only when they are submitted through the appropriate channels and with the appropriate information.</p>

  <h5 class="heading"><a name="IV.A.">A. Procedures</a></h5>
  <ol style="list-style-type:decimal;">
    <li>Submitting a complaint
      <p>Complaints may be submitted to our Policy &#38; Abuse team. Except in the case of <a href="#IV.D.">copyright complaints</a>, a complainant may submit a complaint via <a href="/abuse_reports/new">the Policy &#38; Abuse web form</a>. Depending on the nature of the complaint, anonymity of the complainant may hinder our ability to examine and/or verify the complaint. In order for personnel to follow up on any allegation, the exact location (<abbr title="Uniform Resource Locator">URL</abbr>) and nature of the alleged violation must be supplied in the original complaint. Repeated unverified complaints from the same source may be subject to summary rejection.</p>
    </li>
    <li>Treatment and investigation of complaints
      <p>Only people who need to know about a complaint will be informed about it. The details of any individual complaint are confidential and must be used only in resolving that complaint.</p>
      <p>The subject of a complaint may also be among those who need to know about it. Only information provided in the complaint will be passed on. The complainant has complete control over what information is submitted to Policy &#38; Abuse, and can submit a complaint pseudonymously. (Legal names and other information sufficient to identify a person in the physical world will never be disclosed as part of a standard abuse complaint. For further clarification, please refer to <a href="/tos#privacy">our privacy policy</a>.)</p>
      <p>In general, the Policy &#38; Abuse team will only communicate with the subject of a complaint if there appears to be a violation of site policy, or if personnel need more information to resolve the issue.</p>
      <p>The Policy &#38; Abuse team records the IP address from which each complaint is submitted, to prevent misuse of the system and/or Service.</p>
      <p>Subject to obligations of confidentiality about specific complaints, the Policy &#38; Abuse team may release statistics about general trends, such as the number of plagiarism complaints made and the actions taken by the team, in public or to other <abbr title="Organization for Transformative Works">OTW</abbr> committees, to facilitate discussions of policies, procedures, and trends in complaints.</p>
      <p>When Policy &#38; Abuse personnel determine that Content needs to be removed for reasons other than violation of the Age Policy by Age-Barred Individuals, the team will identify the nature of the problem with the Content, and set a deadline for voluntary removal of the Content.  An administrator may also hide Content from other users where appropriate. If the original poster does not remove the Content within the deadline, the Archive will remove the Content. In addition, we may remove Content immediately, without waiting for a response, if we are contacted by a legitimate law enforcement agency or if we determine that the Content is threatening to an individual or reveals an individual's personal information without consent. In such cases we will inform the original poster as soon as possible. The original poster will then have the option to resubmit with the violating Content removed.</p>
      <p>The Policy &#38; Abuse team may also determine that tags need to be added to or edited in an item of Content. For more information, please see the <a href="#IV.K.">ratings/warnings section</a>.</p>
      <p>If Content violating the <abbr title="Terms of Service">ToS</abbr> is posted with invalid contact information, it will be removed without prior notice.</p>
      <p>If the complainant requests notification of the resolution of the complaint and provides contact information, we will notify them.</p>
    </li>
    <li>Submitting an appeal
      <p>The complainant or the original poster may appeal a decision to the Policy &#38; Abuse team as a whole. During the appeal, the original decision will remain in effect. We will attempt to resolve appeals as speedily as possible, but please remember that the Policy &#38; Abuse team is entirely comprised of volunteers. The team's decisions are final unless overturned by the Board at the Board's sole discretion. There is no right of appeal to the Board. The team, however, may consult with the Board or with committee members authorized by the Board if the team decides that consultation would help resolve an issue.</p>
    </li>
    <li>Account statuses
      <p>"Account status" refers to the existence of warnings on an account and whether that account has been suspended, temporarily or permanently (<a href="/tos_faq#account_status">refer to the ToS FAQ</a>).</p>
      <p>The Policy &#38; Abuse team may issue warnings when it determines that a violation of the <abbr title="Terms of Service">ToS</abbr> was minor or unintentional. More serious, intentional, or repeated violations of the <abbr title="Terms of Service">ToS</abbr> will trigger suspensions. A suspension will generally be for a defined period of time, such as a month. The team may also permanently suspend users when it determines that such action is justified. Permanent suspensions for violations other than spam, violation of the Archive's Age Policy by Age-Barred Individuals, or threatening the technical integrity of the site require a majority vote of the team. The team's discretion will be informed by the nature of the violation and the response of the user, including the user's decision to voluntarily remove, modify or edit the Content that violates the <abbr title="Terms of Service">ToS</abbr>.</p>
      <p>A user whose account has been permanently suspended for reasons other than age may not rejoin under another identity.</p>
      <p>Where possible, we encourage users to try mediating disputes before contacting Policy &#38; Abuse. We provide tools for registered users to control Content that is uploaded in their own spaces. For example, users are able to delete comments on their own stories. If you are unable to resolve the problem on your own, you can file a complaint with the Policy &#38; Abuse team.</p>
      <p>In some cases, objectionable Content may have already been deleted before the Policy &#38; Abuse team acts. We appreciate good faith attempts to resolve disputes, and in most such cases will close the complaint with no further action. However, we reserve the right to consider individual circumstances, including whether the poster has engaged in a pattern of such conduct. In such cases, if we verify that the original Content violated the <abbr title="Terms of Service">ToS</abbr>, we may still decide to warn or suspend the original poster.</p>
      <p>Penalties apply to users, not to screen names/pseudonyms. Penalties are not retroactive: a suspended user's nonobjectionable Content will not be automatically removed unless the user is an Age-Barred Individual. Suspended users retain the right to delete or Orphan their fanworks by contacting Archive administrators.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="IV.B.">B. Spam and commercial promotion</a></h5>
  <p>Promotion of commercial products or activities is not allowed. Repeated identical or nearly identical posts in multiple places, e.g., a large number of identical comments promoting a website, will also be considered spam regardless of commercial content.</p>
  <p>Anything we determine is spam will be removed immediately. Users may be permanently suspended for spam the first time they post spam content.</p>
  <p>In general, unsolicited commercial activity is not permitted on the Archive. The Policy &#38; Abuse team has discretion to decide that a fan-related offer was mistakenly disseminated and issue a warning instead of a suspension.</p>
  <p>Any spam- or commercial activity-related penalties may be appealed using the ordinary appeal process.</p>
  <p>We may use automated means to filter out spam. If you submit Content that is erroneously caught in a spam filter, please notify Archive administrators.</p>

  <h5 class="heading"><a name="IV.C.">C. Threatening the technical integrity of the Service</a></h5>
  <p>Conduct that threatens the technical integrity of the Archive, e.g. attempts to hack the Service or spread viruses through it, will result in an immediate account suspension and deletion of any Content that is hazardous to the operation of the Service or to users' computers. Users may be permanently suspended for threatening the technical integrity of the Archive the first time they do so. Such suspensions may be appealed using the ordinary appeal process.</p>
  <p>Uploading technically misnamed files or Content&#8212;e.g., non-image files with an image file extension used to disguise their actual format&#8212;constitutes a threat to the technical integrity of the site.</p>

  <h5 class="heading"><a name="IV.D.">D. Copyright and Trademark</a></h5>
  <p>Please be aware that the <abbr title="Organization for Transformative Works">OTW</abbr> believes that transformative fanworks are legal; therefore, complaints based merely on the existence of fanwork based on copyrighted content or mentioning trademarks will not be pursued.</p>
  <p>If you believe that your content has been reproduced in whole or in part, without transformative use (transformative use is defined by the <abbr title="Organization for Transformative Works">OTW</abbr> as adding something new, with a further purpose or different character, altering the source with new expression, meaning, or message), please follow our procedures for reporting copyright infringement.</p>
  <p>The report must clearly and specifically indicate the exact location (<abbr title="Uniform Resource Locator">URL</abbr>), nature, and extent of each instance of allegedly infringing content, as well as the exact copyrighted material that is being infringed, as well as full and complete contact information for the copyright holder and/or an authorized agent.</p>
  <p>Epigraphs and short quotations, including quotations from song lyrics and poetry, are allowed. Content that is set within or draws on an existing work is allowed. Reproductions of entire copyrighted works&#8212;whether songs, poems, transcripts, or other material&#8212;are not allowed without the consent of the copyright owner.</p>

  <h5 class="heading"><a name="IV.E.">E. Plagiarism</a></h5>
  <p>Plagiarism is an often-contested and fuzzy concept, and no definition will satisfy everyone. Our aim is to be transparent and fair in resolving disputes.</p>
  <p>Plagiarism is the use of someone else's words or concepts without properly attributing those words or concepts to their original source. Simply finding and replacing names, substituting synonyms, or rearranging a few words is not enough to make the work original to you. Deliberately writing a work using the same general idea as another work is not plagiarism, but citation is always appreciated. Generally, quotes from the source material (canon) on which the Content is based will not constitute plagiarism, nor will obvious allusions ("Use the Force, Luke!"). However, when in doubt, cite. Be aware that the Policy &#38; Abuse team may decide that your citation is not sufficient to render the work your own; a mere nod to another author whose work you are presenting as your own may result in a judgment of plagiarism.</p>
  <p>Plagiarism is a violation of the <abbr title="Terms of Service">ToS</abbr> and will incur the penalties described in the Abuse Policy. As with all Content that violates the <abbr title="Terms of Service">ToS</abbr>, plagiarized Content must be removed. Depending on the type and amount of plagiarized Content, this might entail removing an entire piece of Content, removing only the plagiarized portions from a longer work while leaving the original material, or adding citations.</p>
  <p>If you believe a fanwork posted on the Archive plagiarizes another work, please <a href="/abuse_reports/new">report the work to the Policy &#38; Abuse team</a>. In order to allow us to investigate, please provide a link to the work on the Archive, relevant excerpts, and a specific citation of the original material (for example, a <abbr title="Uniform Resource Locator">URL</abbr> or a book edition and page number).</p>

  <h5 class="heading"><a name="IV.F.">F. Personal information and fannish identities</a></h5>
  <ol>
    <li>
      <p>The <abbr title="Organization for Transformative Works">OTW</abbr> is committed to protecting the privacy of our users, including the separation many fans choose to keep between their legal, "real life" names and their fannish pseudonyms. Unauthorized disclosure of a fan's personal information and/or data which is included within the definition of Special Categories of Personal Data violates the Terms of Service. For these purposes, "personal information" may include legal names and other information sufficient to identify a person in the physical world that they have not voluntarily shared on the Archive itself. "Personal information" may also include the identity of the creator of an Orphaned fanwork. The Archive reserves the right to delete, hide, mask or otherwise make unavailable to the general public any personal information and/or data which is included within the definition of Special Categories of Personal Data.</p>
    </li>
    <li>
      <p>If you are a resident or citizen of the European Community, you can request that the OTW assemble the data about you that it has in our archive, and provide a copy in electronic format to you; we agree to provide such data to you within a reasonable time.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="IV.G.">G. Harassment</a></h5>
  <p>Harassment is any behavior that produces a generally hostile environment for its target. This includes activities such as bullying and hazing by groups of people as well as personal attacks by individuals. Not everyone agrees about what is offensive and unacceptable. Individual users are encouraged to try to resolve problems on their own before contacting the Policy &#38; Abuse team.</p>
  <p>Harassment is not allowed. Users engaging in this behavior may be warned, suspended, or permanently suspended as described in the general abuse procedure.</p>
  <p>When judging whether a specific incident constitutes harassment, the team will consider factors such as whether the behavior was repeated, whether it was repeated after the offender was asked to stop, whether the behavior was targeted at a specific person, whether that target could have easily avoided encountering the behavior, whether the behavior would be considered unacceptable according to normal community standards, etc. Additionally, making complaints that are both (a) repeated and (b) baseless, particularly those targeting a specific user, can be considered harassing behavior and may be deemed a violation of the <abbr title="Terms of Service">ToS</abbr>.</p>
  <p>While these complaints will be reviewed on a case by case basis, in general, threatening Content will be considered harassment, while Content that is merely annoying will be allowed. Please note that most statements like "X is a terrible actor and should die!" are not death threats. Writing a story where X dies as part of the plot is also not usually a death threat. Content that is harder to avoid (such as comments on the target's fanworks) will be judged more strictly than Content that is easily avoidable (such as stories).</p>
  <p>The behavior of the original poster (the complaint subject) may also affect the team's determination. If the original poster repeatedly contacts the subject of the Content about the Content after being told to stop, harasses the subject, or requests that others harass the subject, the Content may be considered part of a general pattern of harassment and be removed. Please use your best judgment both when producing Content of this type and when reporting it.</p>

  <h6 class="heading">A special note on <abbr title="real-person fiction">RPF</abbr> (real-person fiction):</h6>
  <p>Writing <abbr>RPF</abbr> (real-person fiction) never constitutes harassment in and of itself. However, Content that advocates specific, real harmful actions towards real people is not allowed. This includes, but is not limited to, death threats and requests for readers to harass specific people. If you find Content that you believe contains harassing or threatening material, please <a href="/abuse_reports/new">contact the Policy &#38; Abuse team</a>. As Real-Person Fiction is fictional, generally Archive policy will be that Content in <abbr title="Real-Person Fiction">RPF</abbr> that would be deemed Personal Data and/or Special Categories of Personal Data (e.g. full names, usernames on social media services, city of residence, birth date) will not be considered as such. However, if information that is accurate, non-public and not that of the User is included (i.e. non-public phone numbers, residential addresses, email addresses or hotel room numbers) the work can be removed from public view by the Archive's Policy &#38; Abuse team in its sole discretion.</p>

  <h5 class="heading"><a name="IV.H.">H. Illegal and inappropriate Content</a></h5>
  <p>The Archive of Our Own is a place for fanworks. Content may not be uploaded to <abbr title="Organization for Transformative Works">OTW</abbr>'s servers if it contains or links to child pornography (images of real children); warez, cracks, hacks or other executable files and their associated utilities; trade secrets, restricted technologies, or classified information; or if it consists entirely of actual instruction manuals, technical data, recipes, or other non-fanwork content, including non-fanwork creative work (<a href="/tos_faq#original_fiction">refer to the ToS FAQ</a>). Uploading such Content is a violation of the <abbr title="Terms of Service">ToS</abbr>.</p>
  <p>We may determine that we need to remove Content to resolve a threatened or pending lawsuit or mitigate other liability. If so, we will remove the Content. Unless said Content or data otherwise violates the <abbr title="Terms of Service">ToS</abbr> or was submitted by an Age-Barred Individual, removal for such reasons will not lead to a suspension.</p>
  <p>If you believe Content violates a specific law, you may report it to us. Please, however, read our Offensive Content Policy below.</p>

  <h5 class="heading"><a name="IV.I.">I. Offensive Content Policy</a></h5>
  <p>As provided in part <a href="#exposure">I.E.3</a> of the Terms of Service, the <abbr title="Organization for Transformative Works">OTW</abbr> is not liable to you for any Content to which you are exposed on or because of the Service.</p>
  <p>Unless it violates some other policy, we will not remove Content for offensiveness, no matter how awful, repugnant, or badly spelled we may personally find that Content to be.
  </p>

  <h5 class="heading"><a name="IV.J.">J. User Icons</a></h5>
  <p>User icons should be appropriate for general audiences. They should not contain depictions of genital nudity or explicit sexual activity. For more information, please <a href="/tos_faq#icon_policy">refer to the ToS FAQ</a>.</p>

  <h5 class="heading"><a name="IV.K.">K. Tags</a></h5>
  <ol style="list-style-type:decimal;">
    <li> <a name="IV.K.1">Introduction</a>
      <ol style="list-style-type:lower-alpha;">
        <li><strong>We will not require specific ratings or warnings. However, a creator who chooses not to use ratings or warnings on a fanwork must signal this choice </strong> (<a href="/tos_faq#ratings_and_warnings">refer to the ToS FAQ</a>). </li>
        <li>By default, all users will see the Archive warnings and tags the creator has selected. Any logged-in user who wishes to avoid Archive warnings and tags may set preferences to hide them by default. Logged-in users who set their preferences to hide information are proceeding at their own risk and may be exposed to Content they would otherwise wish to avoid. Such users may change their preferences, or reveal information for specific stories, at any time. </li>
        <li>Logged-in users may set their preferences to indicate that they are willing to see mature or explicit content. </li>
        <li>Other users, including users who are not registered users of the Service, who follow a link to a fanwork rated mature, explicit, or "not rated," will be asked to agree to see mature, explicit, or unrated Content. The Archive software will remember a non-registered user's choice during that user's visit, but will not retain the setting for future visits. </li>
      </ol>
    </li>
    <li> <a name="IV.K.2">Ratings</a>
      <ol style="list-style-type:lower-alpha;">
        <li>
          <p>The Archive uses the following ratings, or the equivalent text as specified on the creator upload form:</p>
          <ol style="list-style-type:lower-roman;">
            <li>General audiences.</li>
            <li>Teen and up audiences.</li>
            <li>Mature.</li>
            <li>Explicit.</li>
            <li>Not rated.</li>
          </ol>
        </li>
        <li>
          <p>As a rule, the creator controls the rating.</p>
          <p>In response to a complaint, the Policy &#38; Abuse team may decide that a "general" or "teen" rating is misleading. In such cases, the creator may be required to change the rating. If the creator declines or fails to respond, the team may hide the work, set the rating at "not rated," or take any other appropriate action, but it will not add any other rating. </p>
        </li>
        <li>
          <p>The meaning of "not rated":</p>
          <p>Fanworks labeled "not rated" may be treated, for purposes of searching, screening, and other Archive functions, like "explicit"-rated fanworks. Thus, users may be asked to agree that they have chosen to access the fanwork before proceeding to the fanwork. </p>
        </li>
      </ol>
    </li>
    <li> <a name="IV.K.3">Warnings and Archive Warnings</a>
      <ol style="list-style-type:lower-alpha;">
        <li>
          <p>General description:</p>
          <p>There are two components to warnings on the Archive.</p>
          <ol style="list-style-type:lower-roman;">
            <li>Archive warnings: Creators can select from a <a href="/tos_faq#tags">list of Archive warnings</a>. The list also allows creators to select "choose not to use Archive warnings" and "none of these warnings apply," or equivalent text as specified on the creator upload form.</li>
            <li>Secondary (optional or additional) tags, including warnings: Creators can define their own tags, as seriously or as humorously as they like. These can include specific content warnings. The warnings policy only covers <a href="/tos_faq#tags">Archive warnings</a>.</li>
          </ol>
        </li>
        <li>
          <p>As a rule, the creator controls the warnings.</p>
          <p>Selecting "choose not to use Archive warnings," or the equivalent text as specified on the creator upload form, satisfies a creator's obligation under the warnings policy. If a fanwork uses this option, we will not sustain any failure-to-warn complaints. If the Policy &#38; Abuse team receives a failure-to-warn complaint in other circumstances, the team may decide the absence of a specific Archive warning is misleading. In such cases, the creator may be asked to add a warning or to select the choose not to warn option. If the creator declines or fails to respond, the team may hide the work, set the warning to indicate that the creator has chosen not to warn, or take any other appropriate action, but it will not select any other warning.</p>
        </li>
        <li>
          <p>The meaning of "choose not to use Archive warnings" or equivalent text:</p>
          <p>The fanwork may or may not contain any of the subject matter on the Archive list. Users who wish to avoid specific elements entirely should not access fanworks marked with "choose not to use Archive warnings." A creator can select both "choose not to use Archive warnings" and one of the Archive warnings in order to warn for some but not all of the Archive warnings.</p>
        </li>
      </ol>
    </li>
    <li> <a name="IV.K.4">Consequence of failure to use an appropriate rating or Archive warning</a>
      <p>In general, failure to use an appropriate rating or Archive warning is not a violation of the abuse policy.</p>
      <p>It is our policy to defer to creators' categorizations, but we reserve the right to recategorize a fanwork in the situations described above.</p>
      <p>A recategorization decision is appealable through the ordinary appeals process.</p>
      <p>A recategorization of a fanwork will not result in suspension of a user's account, unless it is a repeated pattern for a single user, in which case it may be treated as grounds for a suspension. Moreover, if a creator unilaterally reverses a recategorization, without agreement from the Policy &#38; Abuse team, that will be treated as grounds for a suspension.</p>
    </li>
    <li> <a name="IV.K.5">Fanwork types</a>
      <p>It is our policy to defer to creators' categorizations, but we reserve the right to recategorize a fanwork type.</p>
      <p>A manual recategorization decision made by the Policy &#38; Abuse team is appealable through the ordinary appeals process.</p>
      <p>A manual recategorization of a fanwork will not result in suspension of a user's account, unless it is a repeated pattern for a single user, in which case it may be treated as grounds for a suspension. Moreover, if a creator unilaterally reverses a manual recategorization, without agreement from the team, that will be treated as grounds for a suspension.</p>
    </li>
    <li> <a name="IV.K.6">General tags</a>
      <p>Some tags may be automatically applied to a work.  It is our policy to defer to creators' categorizations, but we reserve the right to manually recategorize language and other Archive tags, including fandom tags. A manual recategorization or removal of a tag will not result in suspension of a user's account, unless it is a repeated pattern for a single user, in which case it may be treated as grounds for a suspension. Moreover, if a creator unilaterally reverses a manual recategorization or removal, without agreement from the team, that will be treated as grounds for a suspension.</p>
    </li>
  </ol>

  <h4 class="heading"><a name="assorted" id="assorted">V. Assorted Policies</a></h4>
  <h5 class="heading"><a name="V.A.">A. Collections, Challenges, and Exchanges</a></h5>
  <ol>
    <li>
      <p>Archive users may create <a href="/faq/collections#whatiscollection">Collections</a> and encourage other users to submit fanworks to those Collections.  The Collection maintainer can set any constraints they want on the Collection, including rules about anonymous works (see A.4 below) but must otherwise follow AO3 Content policy (e.g., if the Collection Content is explicit, it should be marked as "explicit" or "choose not to rate").  The Collection maintainer may be able to ask users for suggestions for new fanworks ("prompts"), gather prompts, match participants with prompts (including contacting them via the contact information provided to the Archive or to the Collection maintainer), and show the prompts on the Archive, following the general rules governing works on the Archive.  Where Collection rules allow, prompts may be anonymous or limited-visibility, as detailed in A.4 and A.5 below.</p>
       <ol>
         <li>
           <p>A Challenge is a form of AO3 Collection. A Challenge maintainer can communicate with Challenge participants. The Challenge maintainer may have access to participants' email addresses for this purpose.</p>
         </li>
       </ol>
    </li>
    <li>
      <p>To be part of a Collection, created on AO3 the fanwork creator has to affirmatively submit the fanwork to the Collection. The Collection maintainer will be able to remove the fanwork from the Collection, but not from the Archive.</p>
    </li>
    <li>
      <p>If the Collection maintainer has specified in advance in the Collection rules that submissions cannot later be removed from the Collection, the user who submitted the fanwork may not be able to delete it, but will be able to Orphan the Content it so that the user's identity is no longer associated with the Content.</p>
    </li>
    <li>
      <p>In order to implement certain types of Collections, the Archive may allow works to be posted without making the creator generally visible (which we call anonymous works).</p>
      <ol style="list-style-type:lower-alpha;">
        <li>Anonymous works are not Orphan works, though they can be Orphaned.</li>
        <li>The creator's pseudonym will not be publicly associated with the work while the anonymity is in place.  For non-Orphaned works, the creator's pseudonym will be visible to administrators (including members of the Policy &#38; Abuse team for purposes of resolving complaints), co-creators (if any), and the maintainers of any Collection of which the work is a part.</li>
        <li>If the Collection of which a work is a part specifies rules regarding anonymity, such as a designated time for revealing authorship, the Collection maintainer may be able to control the work's anonymity consistent with those rules.  In other situations, creators may be able to choose anonymity.</li>
      </ol>
    </li>
    <li>
      <p>In order to implement certain types of Collections, the Archive may allow works to be posted which will not be generally visible until a time set by the Collection maintainer.</p>
      <ol style="list-style-type:lower-alpha;">
        <li>Once posted, the work will be visible to administrators (including members of the Policy &#38; Abuse team for purposes of resolving complaints), co-creators (if any), and the maintainers of any Collection of which the work is a part.</li>
        <li>If the collection of which a work is a part specifies rules regarding time of general visibility, the Collection maintainer may be able to control the time at which a work becomes generally visible to Archive users.</li>
      </ol>
    </li>
    <li>
      <p>In the absence of an independent violation of the abuse policy, the Archive will not intervene in decisions by the Collection maintainer.</p>
    </li>
  </ol>

  <h5 class="heading"><a name="V.B.">B. Fannish next-of-kin</a></h5>
  <p>Registered Archive users may designate a fannish next-of-kin. A next-of-kin agreement allows the transfer of Content maintenance in the case of a user's permanent incapacitation or death.</p>
  <p>Both parties to the agreement must be registered users of the Archive.</p>
  <p>The Archive's role in this agreement is only to act as a facilitator. If the person designated as the fannish next-of-kin activates the agreement by sending a message to the Archive, the Archive will not do any independent investigation to confirm the necessity for the transfer.</p>
  <p>A fannish next-of-kin agreement is confidential and accessible only by designated members of the Archive team, who may only use it for purposes of implementing the agreement.</p>

  <h5 class="heading"><a name="V.C.">C. Orphaning Content and Deleting Data</a></h5>
  <ol style="list-style-type:decimal;">
    <li>Definition of Orphaning
      <p>One of the goals of the OTW and the Archive is to provide a permanent long-term home for fanworks. We also understand that circumstances can arise in which creators wish to remove their stories from the internet or otherwise dissociate themselves from their work. Our Archive software gives creators the ability to anonymize or "Orphan" fanworks along with the option of deleting them from the Archive. For a more detailed description of Orphaning, please see <%= link_to "About Orphaning", archive_faq_path("orphaning") %>.</p>
    </li>
    <li>User-controlled Orphaning
      <p>Users will have the ability to delete or Orphan their Content themselves as long as they have a valid AO3 account, including the account password and/or access to the e-mail address connected with that AO3 account. Users will be able to have passwords e-mailed to them and to change the e-mail addresses associated with accounts. However, a user who has lost a password and has no access to the e-mail associated with the account may be unable to access the account for any purpose, including Orphaning or deletion, unless the user can verify identity in some other way, as described below.</p>
    </li>
    <li>Caution: Orphaning may be difficult or impossible to reverse.
      <p>If a user affirmatively Orphans Content, any connection between the user and the work will be removed. It therefore may be difficult or even impossible to restore the link between an Orphaned Content and a user.</p>
    </li>
    <li>Linking an author with an Orphaned work
      <p>As part of the OTW's commitment to <a href="/tos#privacy">privacy</a>, users are not allowed to use comments or tags to publicly identify the creator of an Orphaned work after the work has been Orphaned. Users who add public identifying tags or comments after a work has been Orphaned violate the Archive's Terms of Service. Additionally, identifying tags or comments will be removed.</p>
    </li>
    <li>
      <p>If the creator has an account, it is the creator's responsibility to delete any comments that personally identify said creator that are associated with the work, prior to Orphaning it, and to inform the Policy &#38; Abuse team of any identifying tags that should be deleted. If the creator does not have an account, it is the creator's responsibility to identify any comments and/or tags that should be deleted as part of a request for Orphaning (see Policy on unverified identities and Orphaning or deletion below).</p>
    </li>
    <li>Policy on unverified identities and Orphaning or deletion
      <p>Our policy is that creators should be able to Orphan or delete Content, and they should also be protected against claims by non-creators. Deleting Content is a user's way of withdrawing consent for AO3 to continue hosting said Content. We provide creators with several alternative methods of confirming source, including using the e-mail address associated with the fanwork; using information from a creator's own site or journal; or using an e-mail address or other form of contact associated with a different copy of the fanwork, including on the <a href="https://www.archive.org/index.php">Internet Archive</a>. We will also consult with the maintainer of any collection of which the fanwork is a part and take any other actions that seem likely to help with verification.</p>
      <p>If the source of the request is confirmed, we will comply with the request. When the link between the source of the request and the fanwork's creator cannot be confirmed, and attempts to contact the fanwork's creator through any existing contact information receive no response, we will Orphan the fanwork.</p>
    </li>
    <li>Deleting Your Account
      <ol>
        <li>
          <p>Deletion of an account is a way for a user to withdraw their consent for AO3 to continue hosting their Content.
          </p>
        </li>
        <li>
          <p>If you delete Content, such Content will be unrecoverable via the Service.</p>
        </li>
      </ol>
    </li>
  </ol>

  <h5 class="heading"><a name="V.D.">D. Open Doors</a></h5>
  <p>Please note: these terms are designed for agreements between the OTW and owners/maintainers of archives/collections of fanworks that were originally hosted on third-party sites.</p>
  <p>The Open Doors project of the Organization for Transformative Works is dedicated to preserving fanworks for the future.</p>
  <p>We are happy to help maintainers of typical fanfic archives preserve or back up their collections by transferring the contents of their archive into the Archive of Our Own. Other fannish projects that cannot be integrated into the Archive may also be preserved as special collections, resources permitting. Both kinds of projects may be featured on the Open Doors page.</p>

  <h6 class="heading">ToS for Open Doors projects</h6>
  <ol style="list-style-type:decimal;">
    <li>Maintainer Consent
      <p>The OTW will only preserve collections with the full consent of the maintainer of the collection. The current maintainer of the project must agree to the Open Doors ToS, agree to any other conditions of the import, and grant us access to a copy of the current contents of the collection. The maintainer must also transfer ownership of the domain name or follow Open Doors' instructions if they want URL redirects, and if such redirects are possible. (Domain name transfer is not necessary if the maintainer is merely backing up an Archive within the Archive of Our Own.)</p>
    </li>
    <li>Transfer of Project
      <p>When the Open Doors Committee and the current owner of the collection have decided to import an archive or a special collection under the Open Doors project, the current owner will provide a copy of the current contents and take any other steps necessary to carry out the transfer.</p>
      <p>Typically, fanwork archives will be imported into the Archive of Our Own under a collection named after the original archive.</p>
    </li>
    <li>URLs for Open Doors Project
      <p>For collections not hosted on the Archive itself, the special collection or project may be available under subdirectories or subdomains of an OTW site.</p>
      <p>We may also preserve the original project's domain name.</p>
      <p>Archives that have been integrated into the Archive of Our Own will also be listed in the Open Doors gallery.</p>
    </li>
    <li>Role of Original Maintainer
      <p>The original maintainer of an archive that has been imported to the Archive of Our Own will be invited to moderate their archive's collection within the Archive of Our Own with all the powers that a collection owner in the Archive usually has; so, for instance, to decide whether a new work fulfills their collection's rules, or should be removed from the collection.</p>
      <p>If the collection's maintainer no longer wants to work on the collection, they can designate a new maintainer for the collection, or close the collection to new submissions. Should someone volunteer or request to maintain a closed collection, Open Doors will attempt to contact the original maintainer to find out if they are interested in transferring the collection. If the original maintainer does not respond with approval, ownership of the collection will not be transferred.</p>
    </li>
    <li>Collection Policy
      <p>Where possible, the existing policies of the collection will be preserved, even if they differ from the policies of the Archive of Our Own. Specifically, collections (whether integrated into the Archive of Our Own or preserved as special collections) can have limits on fandom, subject matter, sexual content, etc. that do not apply to Archive Content generally. Open Doors collections may be mixed fan and non-fanworks; when we accept a mixed collection, the entire collection can be added to the Archive, and the standard prohibition on non-fanworks will not apply to the collection. However, the OTW retains the right to remove Content from its servers if the Board deems removal necessary for specific legal reasons, or if the Content violates the Content Policy (other than the prohibition on non-fanwork content).</p>
      <p>Control over individual fanworks contained within a collection rests with their creators. If the verified creator of any individual fanwork contained within a collection requests its removal or alteration, the OTW will always comply with such a request in a reasonable period of time. We will also provide mechanisms allowing creators to claim their fanworks from such a collection and if desired to attach them to a new or existing Archive of Our Own account, edit them, Orphan them, or delete them.</p>
    </li>
    <li>Parting from the OTW
      <p>As noted in section 5, control over individual fanworks contained within a collection always rests with their creators. This section applies to collections as a whole. If the collection's original maintainer decides that they no longer want to be affiliated with the OTW, or the OTW board decides they no longer wish to work with the original maintainer, the following procedures for dissolution will apply:</p>
      <ol style="list-style-type:lower-alpha;">
        <li>
          <p>Open Doors will delete the imported archive's collection on AO3. Any works imported to the AO3 already claimed, Orphaned, or anonymized by AO3 users will remain in the Archive under control of the creators' accounts, or the Orphan account. Open Doors will work with the original maintainer to delete any unclaimed works.</p>
       </li>
        <li>
          <p>OTW will give the original maintainer a copy of the archive backup given to the Open Doors Committee, if available.</p>
        </li>
        <li>
          <p>OTW will not be responsible for helping the maintainer set up elsewhere.</p>
        </li>
        <li>
          <p>OTW will place an announcement on the Open Doors page indicating that the original maintainer has moved to a new location, with a link to the new location if provided by the maintainer.</p>
        </li>
        <li>
          <p>These <abbr title="Terms of Service">ToS</abbr> are written assuming a single maintainer for a collection. If there are multiple active maintainers of a collection, they must all agree before the OTW will bring the collection into Open Doors. If some but not all of the maintainers later wish to part from the OTW, those who wish to do so can continue to work with the collection on the OTW servers, while the OTW will follow provisions b. and c. for any maintainers who wish to move the collection elsewhere. However, the OTW will retransfer any domain names only to maintainers who were formerly registered owners of the domain names at issue. For active collections, maintainers can use whatever dispute resolution procedure they work out between themselves, provided that they otherwise comply with OTW policies.</p>
        </li>
      </ol>
      <p>The goal of these rules is to be clear about how special collections and other extant fannish projects might come under the OTW umbrella while still preserving the autonomy both of the original maintainer and of the OTW. We want to provide a permanent home to projects, and preserve the results of our efforts, without the original maintainer feeling like they are giving up all control.</p>
    </li>
    <li>General provisions
      <p>Matters not specifically addressed in this Open Doors Agreement will be governed by the OTW Terms of Service.</p>
    </li>
  </ol>
  <hr/>
  <p>Material in this draft has been drawn from Slashcity, NearlyFreeSpeech.Net, Vox Populli, imeem.</p>
  <p>Approved: 23 May 2018</p>
</div>
