<h2 class="heading"><%= ts('Forced Logout') %></h2>

<div class="userstuff">
  <p><%= ts("You have been automatically logged out to protect your privacy. Please make sure that your browser is set to accept cookies from archiveofourown.org and delete any existing Archive cookies. If you continue to have problems logging in, please try using the <a href=\"#{new_user_session_path}\">Log In</a> page. If you still have problems after trying that, please <a href=\"#{new_feedback_report_path}\">contact Support</a>.".html_safe)  %></p>
</div>
