<%= form_tag (@collection ? collection_gifts_path(@collection) : gifts_path), :method => :get, :id => 'gift-search', :class => 'simple search' do %>
  <fieldset role="search">
	<legend>Find gifts for</legend>
	<p>
    <%= label_tag :recipient, t('.gifts.recipient_field', :default => "Find gifts for: ")%>
    <%= text_field_tag :recipient, params[:recipient], :class => 'text', :title => 'gift search' %>
    <span class="submit"><%= submit_tag t('.forms.gift_search', :default => 'Search'), :class => 'button', :name => nil %></span>
  </p>
</fieldset>
<% end %>
