<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("New AO3 News Post") %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/admin_nav' %>
<!--/subnav-->

<!--main content-->
<%= render :partial => 'admin_post_form' %>
<!--/content-->