redis_autocomplete:
  test: dev.ao3.org:6398
  development: dev.ao3.org:6379
  production: redis.ao3.org:6379
redis_general:
  test: dev.ao3.org:6398
  development: dev.ao3.org:6379
  production: redis.ao3.org:6379
redis_hits:
  test: dev.ao3.org:6398
  development: dev.ao3.org:6379
  production: redis.ao3.org:6379
redis_kudos:
  test: dev.ao3.org:6398
  development: dev.ao3.org:6379
  production: redis.ao3.org:6379
redis_resque:
  test: dev.ao3.org:6398
  development: dev.ao3.org:6379
  production: redis.ao3.org:6379
redis_rollout:
  test: dev.ao3.org:6398
  development: dev.ao3.org:6379
  production: redis.ao3.org:6379
