<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= ts("Invitation Requests") %>
</h2>

<p class="notice">
  <%= ts("<strong>New invitation requests are currently closed.</strong> For     
        more information, please check the %{news}.",
      news: link_to("\"Invitations\" tag on AO3 News",
                    admin_posts_path(tag: 143))
      ).html_safe %>
</p>
<p>
  <%= ts("If you have already requested an invitation, you can %{status}. There are %{count} people remaining on the waiting list.",
      status: link_to("check your position on the waiting list",
                      status_invite_requests_path),
      count: InviteRequest.count
  ).html_safe %>
<p>
<!--/descriptions-->

<!--main content-->
<!--/content-->
