<%= render "invite_request", invite_request: @invite_request %>

<p>
  <%= ts("To check on the status of your invitation, go to the %{status_page} and enter your email in the space provided!", status_page: link_to("Invitation Request Status page", status_invite_requests_path)).html_safe %>
</p>
