<h2 class="heading">Error 500</h2>
<h3 class="heading">We're sorry, but something went wrong.</h3>
<p>If you are receiving this error repeatedly, please <%= link_to ts('contact Support'), new_feedback_report_path %>. In the form, please include a link to the page you're trying to reach and how you're trying to reach this page.</p>
