<p>
  <%= radio_button_tag 'use_default', 'true', true %> 
  <%= label_tag 'use_default_true', ts('Take my pseud off as well') %>
</p>
<p>
  <%= radio_button_tag 'use_default', 'false' %> 
  <%= label_tag 'use_default_false', ts('Leave a copy of my pseud on') %>
</p>
