<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%=h t('.orphaned_works', :default => 'Orphaned Works') %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<ul class="work index group">
  <% for work in @works %>
	<%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
  <% end %>
</ul>
<!--/content-->

<!--subnav-->
<!--/subnav-->