<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Members of %{title}", title: @collection.title) %></h2>
<!--descriptions-->

<%= render partial: "add_participants_form" %>

<h3 class="landmark heading"><%= ts("Listing Collection Members") %></h3>
<ul class="member index group">
  <%= render partial: "participant_form", collection: @collection_participants, as: :participant %>
</ul>
