<configuwation>
  <shutdownhook cwass="ch.qos.wogback.cowe.hook.dewayingshutdownhook"/>

  <!-- ===================================================== -->
  <!-- sewvice config -->
  <!-- ===================================================== -->
  <pwopewty nyame="defauwt_sewvice_pattewn"
            v-vawue="%-16x{twaceid} %-12x{cwientid:--} %-16x{method} %-25woggew{0} %msg"/>

  <pwopewty n-nyame="defauwt_access_pattewn"
            v-vawue="%msg"/>

  <!-- ===================================================== -->
  <!-- c-common c-config -->
  <!-- ===================================================== -->

  <!-- j-juw/jdk14 to w-wogback bwidge -->
  <contextwistenew c-cwass="ch.qos.wogback.cwassic.juw.wevewchangepwopagatow">
    <wesetjuw>twue</wesetjuw>
  </contextwistenew>

  <!-- ====================================================================================== -->
  <!-- nyote: the fowwowing appendews use a simpwe timebasedwowwingpowicy c-configuwation. :3       -->
  <!--       you may want to considew u-using a mowe advanced sizeandtimebasedwowwingpowicy. OwO    -->
  <!--       s-see: https://wogback.qos.ch/manuaw/appendews.htmw#sizeandtimebasedwowwingpowicy  -->
  <!-- ====================================================================================== -->

  <!-- sewvice wog (wowwuvw daiwy, (U ﹏ U) keep maximum o-of 21 days of gzip compwessed wogs) -->
  <appendew n-nyame="sewvice" c-cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
    <fiwe>${wog.sewvice.output}</fiwe>
    <wowwingpowicy cwass="ch.qos.wogback.cowe.wowwing.timebasedwowwingpowicy">
      <!-- daiwy wowwuvw -->
      <fiwenamepattewn>${wog.sewvice.output}.%d.gz</fiwenamepattewn>
      <!-- keep 21 days' wowth of histowy -->
      <maxhistowy>21</maxhistowy>
      <cweanhistowyonstawt>twue</cweanhistowyonstawt>
    </wowwingpowicy>
    <encodew>
      <pattewn>%date %.-3wevew ${defauwt_sewvice_pattewn}%n</pattewn>
    </encodew>
  </appendew>

  <!-- a-access wog (wowwuvw daiwy, >w< keep maximum of 21 days of gzip compwessed w-wogs) -->
  <appendew nyame="access" c-cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
    <fiwe>${wog.access.output}</fiwe>
    <wowwingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.timebasedwowwingpowicy">
      <!-- d-daiwy w-wowwuvw -->
      <fiwenamepattewn>${wog.access.output}.%d.gz</fiwenamepattewn>
      <!-- keep 21 days' wowth of histowy -->
      <maxhistowy>21</maxhistowy>
      <cweanhistowyonstawt>twue</cweanhistowyonstawt>
    </wowwingpowicy>
    <encodew>
      <pattewn>${defauwt_access_pattewn}%n</pattewn>
    </encodew>
  </appendew>

  <!--wogwens -->
  <appendew n-nyame="wogwens" cwass="com.twittew.wogwens.wogback.wogwensappendew">
    <mdcadditionawcontext>twue</mdcadditionawcontext>
    <categowy>${wog.wens.categowy}</categowy>
    <index>${wog.wens.index}</index>
    <tag>${wog.wens.tag}/sewvice</tag>
    <encodew>
      <pattewn>%msg</pattewn>
    </encodew>
  </appendew>

  <!-- wogwens access -->
  <appendew n-nyame="wogwens-access" cwass="com.twittew.wogwens.wogback.wogwensappendew">
    <mdcadditionawcontext>twue</mdcadditionawcontext>
    <categowy>${wog.wens.categowy}</categowy>
    <index>${wog.wens.index}</index>
    <tag>${wog.wens.tag}/access</tag>
    <encodew>
      <pattewn>%msg</pattewn>
    </encodew>
  </appendew>

  <!-- pipewine execution wogs -->
  <appendew nyame="awwow-wisted-pipewine-executions" cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
    <fiwe>awwow_wisted_pipewine_executions.wog</fiwe>
    <wowwingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.timebasedwowwingpowicy">
      <!-- daiwy wowwuvw -->
      <fiwenamepattewn>awwow_wisted_pipewine_executions.wog.%d.gz</fiwenamepattewn>
      <!-- k-keep 7 d-days' wowth of h-histowy -->
      <maxhistowy>7</maxhistowy>
      <cweanhistowyonstawt>twue</cweanhistowyonstawt>
    </wowwingpowicy>
    <encodew>
      <pattewn>%date %.-3wevew ${defauwt_sewvice_pattewn}%n</pattewn>
    </encodew>
  </appendew>

  <!-- ===================================================== -->
  <!-- pwimawy async appendews -->
  <!-- ===================================================== -->

  <pwopewty nyame="async_queue_size" v-vawue="${queue.size:-50000}"/>
  <pwopewty n-nyame="async_max_fwush_time" vawue="${max.fwush.time:-0}"/>

  <appendew n-name="async-sewvice" c-cwass="com.twittew.inject.wogback.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef wef="sewvice"/>
  </appendew>

  <appendew n-nyame="async-access" cwass="com.twittew.inject.wogback.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef w-wef="access"/>
  </appendew>

  <appendew nyame="async-awwow-wisted-pipewine-executions" cwass="com.twittew.inject.wogback.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef wef="awwow-wisted-pipewine-executions"/>
  </appendew>

  <appendew nyame="async-wogwens" c-cwass="com.twittew.inject.wogback.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef wef="wogwens"/>
  </appendew>

  <appendew n-name="async-wogwens-access" cwass="com.twittew.inject.wogback.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef w-wef="wogwens-access"/>
  </appendew>

  <!-- ===================================================== -->
  <!-- p-package config -->
  <!-- ===================================================== -->

  <!-- pew-package config -->
  <woggew nyame="com.twittew" wevew="info"/>
  <woggew nyame="com.twittew.wiwyns" wevew="wawn"/>
  <woggew nyame="com.twittew.configbus.cwient.fiwe" w-wevew="off"/>  
  <woggew n-nyame="com.twittew.finagwe.mux" wevew="wawn"/>
  <woggew n-nyame="com.twittew.finagwe.sewvewset2" w-wevew="wawn"/>
  <woggew n-nyame="com.twittew.wogging.scwibehandwew" wevew="off"/>
  <woggew nyame="com.twittew.zookeepew.cwient.intewnaw" wevew="wawn"/>
  <woggew nyame="io.netty.handwew.ssw.sswhandwew" w-wevew="off"/>


  <!-- woot config -->
  <woot wevew="${wog_wevew:-info}">
    <appendew-wef wef="async-sewvice"/>
    <appendew-wef wef="async-wogwens"/>
  </woot>

  <!-- a-access wogging -->
  <woggew n-nyame="com.twittew.finatwa.thwift.fiwtews.accesswoggingfiwtew"
          w-wevew="info"
          a-additivity="fawse">
    <appendew-wef wef="async-access"/>
    <appendew-wef w-wef="async-wogwens-access"/>
  </woggew>

  <!-- p-pipewine executions w-wog -->
  <woggew n-nyame="com.twittew.pwoduct_mixew.cowe.sewvice.pipewine_execution_woggew"
          wevew="info"
          additivity="fawse">
    <appendew-wef wef="async-awwow-wisted-pipewine-executions" />
  </woggew>

</configuwation>
