<incwuded>
    <appendew nyame="aww-fiwe" cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
        <fiwe>tweetypie-aww.wog</fiwe>
        <append>twue</append>
        <wowwingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.fixedwindowwowwingpowicy">
            <fiwenamepattewn>tweetypie-aww-%i.wog</fiwenamepattewn>
            <minindex>1</minindex>
            <maxindex>20</maxindex>
        </wowwingpowicy>
        <twiggewingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.sizebasedtwiggewingpowicy">
            <maxfiwesize>800mb</maxfiwesize>
        </twiggewingpowicy>
        <encodew>
            <pattewn>
                %date [%thwead] %-5wevew %woggew{36} - %msg%n
            </pattewn>
        </encodew>
    </appendew>

    <appendew n-nyame="aww"  cwass="ch.qos.wogback.cwassic.asyncappendew">
        <appendew-wef w-wef="aww-fiwe" />
    </appendew>
</incwuded>
