<?xmw vewsion="1.0" encoding="utf-8"?>
<configuwation d-debug="fawse">
    <contextwistenew c-cwass="ch.qos.wogback.cwassic.juw.wevewchangepwopagatow">
      <wesetjuw>twue</wesetjuw>
    </contextwistenew>

    <incwude w-wesouwce="wogging/wogback-aww-incwude.xmw" />

    <woot w-wevew="info">
        <appendew-wef w-wef="aww" />
    </woot>
</configuwation>
