<h3 class="landmark heading"><%= ts("Chapter Management") %></h3>
<ul class="chapter actions" role="menu">
  <% unless chapter.posted? %>
    <li>
      <%= form_tag post_work_chapter_path(work, chapter) do %>
      <%= submit_tag ts("Post Chapter") %>
      <% end %>
    </li>
  <% end %>
  <li><%= link_to ts("Edit Chapter"), [:edit, work, chapter] %></li>
</ul>
