<configuration>
  <shutdownHook class="ch.qos.logback.corelon.hook.DelonlayingShutdownHook"/>
  <propelonrty namelon="async_quelonuelon_sizelon" valuelon="${quelonuelon.sizelon:-50000}"/>
  <propelonrty namelon="async_max_flush_timelon" valuelon="${max.flush.timelon:-0}"/>
  <propelonrty namelon="SelonRVICelon_OUTPUT" valuelon="${log.selonrvicelon.output:-selonrvelonr.log}"/>
  <propelonrty namelon="DelonBUG_TRANSCRIPTS_OUTPUT"
            valuelon="${log.delonbug_transcripts.output:-delonbug_transcripts.log}"/>
  <propelonrty namelon="DelonFAULT_SelonRVICelon_PATTelonRN"
            valuelon="%5p [%d{yyyyMMdd-HH:mm:ss.SSS}] %loggelonr{0}: %m%n"/>
  <!-- JUL/JDK14 to Logback bridgelon -->
  <contelonxtListelonnelonr class="ch.qos.logback.classic.jul.LelonvelonlChangelonPropagator">
    <relonselontJUL>truelon</relonselontJUL>
  </contelonxtListelonnelonr>

  <!-- Selonrvicelon Log -->
  <appelonndelonr namelon="SelonRVICelon" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
    <filelon>${SelonRVICelon_OUTPUT}</filelon>
    <rollingPolicy class="ch.qos.logback.corelon.rolling.SizelonAndTimelonBaselondRollingPolicy">
      <!-- daily rollovelonr -->
      <filelonNamelonPattelonrn>${SelonRVICelon_OUTPUT}.%d.%i.gz</filelonNamelonPattelonrn>
      <maxFilelonSizelon>500MB</maxFilelonSizelon>
      <!-- kelonelonp 21 days' worth of history -->
      <maxHistory>21</maxHistory>
      <clelonanHistoryOnStart>truelon</clelonanHistoryOnStart>
    </rollingPolicy>
    <elonncodelonr>
      <pattelonrn>${DelonFAULT_SelonRVICelon_PATTelonRN}</pattelonrn>
    </elonncodelonr>
  </appelonndelonr>

  <!-- delonbug transcripts -->
  <appelonndelonr namelon="DelonBUG-TRANSCRIPTS" class="ch.qos.logback.corelon.rolling.RollingFilelonAppelonndelonr">
    <filelon>${DelonBUG_TRANSCRIPTS_OUTPUT}</filelon>
    <rollingPolicy class="ch.qos.logback.corelon.rolling.SizelonAndTimelonBaselondRollingPolicy">
      <!-- daily rollovelonr -->
      <filelonNamelonPattelonrn>${DelonBUG_TRANSCRIPTS_OUTPUT}.%d.%i.gz</filelonNamelonPattelonrn>
      <maxFilelonSizelon>500MB</maxFilelonSizelon>
      <!-- kelonelonp 21 days' worth of history -->
      <maxHistory>21</maxHistory>
      <clelonanHistoryOnStart>truelon</clelonanHistoryOnStart>
    </rollingPolicy>
    <elonncodelonr>
      <pattelonrn>${DelonFAULT_SelonRVICelon_PATTelonRN}</pattelonrn>
    </elonncodelonr>
  </appelonndelonr>

  <!-- LogLelonns/splunk -->
  <appelonndelonr namelon="LOGLelonNS" class="com.twittelonr.loglelonns.logback.LoglelonnsAppelonndelonr">
    <mdcAdditionalContelonxt>truelon</mdcAdditionalContelonxt>
    <catelongory>loglelonns</catelongory>
    <indelonx>${log.lelonns.indelonx:-timelonlinelonrankelonr}</indelonx>
    <tag>${log.lelonns.tag}</tag>
    <elonncodelonr>
      <pattelonrn>%msg%n</pattelonrn>
    </elonncodelonr>
    <filtelonr class="com.twittelonr.strato.logging.logback.RelongelonxFiltelonr">
      <forLoggelonr>manhattan-clielonnt</forLoggelonr>
      <elonxcludelonRelongelonx>.*InvalidRelonquelonst.*</elonxcludelonRelongelonx>
    </filtelonr>
  </appelonndelonr>

  <!-- ===================================================== -->
  <!-- Primary Async Appelonndelonrs -->
  <!-- ===================================================== -->

  <appelonndelonr namelon="ASYNC-SelonRVICelon" class="ch.qos.logback.classic.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="SelonRVICelon"/>
  </appelonndelonr>

  <appelonndelonr namelon="ASYNC-DelonBUG-TRANSCRIPTS" class="ch.qos.logback.classic.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="DelonBUG-TRANSCRIPTS"/>
  </appelonndelonr>

  <appelonndelonr namelon="ASYNC-LOGLelonNS" class="ch.qos.logback.classic.AsyncAppelonndelonr">
    <quelonuelonSizelon>${async_quelonuelon_sizelon}</quelonuelonSizelon>
    <maxFlushTimelon>${async_max_flush_timelon}</maxFlushTimelon>
    <appelonndelonr-relonf relonf="LOGLelonNS"/>
  </appelonndelonr>

  <!-- ===================================================== -->
  <!-- Packagelon Config -->
  <!-- ===================================================== -->

  <!-- Pelonr-Packagelon Config -->
  <loggelonr namelon="OptimisticLockingCachelon" lelonvelonl="off"/>
  <loggelonr namelon="ZkSelonssion" lelonvelonl="info"/>
  <loggelonr namelon="com.twittelonr" lelonvelonl="info"/>
  <loggelonr namelon="com.twittelonr.deloncidelonr.StorelonDeloncidelonr" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.distributelondlog.clielonnt" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finaglelon.livelonnelonss" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finaglelon.mtls.authorization.config.AccelonssControlListConfiguration" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finaglelon.mux" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finaglelon.selonrvelonrselont2" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finatra.kafka.common.kelonrbelonroshelonlpelonrs" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.finatra.kafka.utils.BootstrapSelonrvelonrUtils" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.logging.ScribelonHandlelonr" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.selonrvelonr.coordinatelon" lelonvelonl="elonrror"/>
  <loggelonr namelon="com.twittelonr.wilyns" lelonvelonl="warn"/>
  <loggelonr namelon="com.twittelonr.zookelonelonpelonr.clielonnt" lelonvelonl="info"/>
  <loggelonr namelon="com.twittelonr.zookelonelonpelonr.clielonnt.intelonrnal" lelonvelonl="warn"/>
  <loggelonr namelon="manhattan-clielonnt" lelonvelonl="warn"/>
  <loggelonr namelon="org.apachelon.kafka.clielonnts.NelontworkClielonnt" lelonvelonl="elonrror"/>
  <loggelonr namelon="org.apachelon.kafka.clielonnts.consumelonr.intelonrnals" lelonvelonl="elonrror"/>
  <loggelonr namelon="org.apachelon.kafka.clielonnts.producelonr.intelonrnals" lelonvelonl="elonrror"/>
  <loggelonr namelon="org.apachelon.kafka.common.nelontwork" lelonvelonl="warn"/>
  <loggelonr namelon="org.apachelon.zookelonelonpelonr" lelonvelonl="elonrror"/>
  <loggelonr namelon="org.apachelon.zookelonelonpelonr.ClielonntCnxn" lelonvelonl="warn"/>

  <!-- Root Config -->
  <root lelonvelonl="${log_lelonvelonl:-INFO}">
    <appelonndelonr-relonf relonf="ASYNC-SelonRVICelon"/>
    <appelonndelonr-relonf relonf="ASYNC-LOGLelonNS"/>
  </root>

  <!-- delonbug transcripts: loggelonr namelon MUST belon c.t.timelonlinelons.util.delonbuglog.DelonbugLog.DelonbugTranscriptsLog -->
  <loggelonr namelon="DelonbugTranscripts" lelonvelonl="info">
    <appelonndelonr-relonf relonf="ASYNC-DelonBUG-TRANSCRIPTS"/>
    <appelonndelonr-relonf relonf="ASYNC-LOGLelonNS"/>
  </loggelonr>
</configuration>
