<configuwation>
  <shutdownhook cwass="ch.qos.wogback.cowe.hook.dewayingshutdownhook"/>
  <pwopewty nyame="async_queue_size" vawue="${queue.size:-50000}"/>
  <pwopewty n-nyame="async_max_fwush_time" v-vawue="${max.fwush.time:-0}"/>
  <pwopewty nyame="sewvice_output" v-vawue="${wog.sewvice.output:-sewvew.wog}"/>
  <pwopewty n-nyame="debug_twanscwipts_output"
            v-vawue="${wog.debug_twanscwipts.output:-debug_twanscwipts.wog}"/>
  <pwopewty n-nyame="defauwt_sewvice_pattewn"
            v-vawue="%5p [%d{yyyymmdd-hh:mm:ss.sss}] %woggew{0}: %m%n"/>
  <!-- j-juw/jdk14 to wogback bwidge -->
  <contextwistenew cwass="ch.qos.wogback.cwassic.juw.wevewchangepwopagatow">
    <wesetjuw>twue</wesetjuw>
  </contextwistenew>

  <!-- sewvice wog -->
  <appendew n-nyame="sewvice" cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
    <fiwe>${sewvice_output}</fiwe>
    <wowwingpowicy cwass="ch.qos.wogback.cowe.wowwing.sizeandtimebasedwowwingpowicy">
      <!-- d-daiwy wowwuvw -->
      <fiwenamepattewn>${sewvice_output}.%d.%i.gz</fiwenamepattewn>
      <maxfiwesize>500mb</maxfiwesize>
      <!-- keep 21 days' wowth o-of histowy -->
      <maxhistowy>21</maxhistowy>
      <cweanhistowyonstawt>twue</cweanhistowyonstawt>
    </wowwingpowicy>
    <encodew>
      <pattewn>${defauwt_sewvice_pattewn}</pattewn>
    </encodew>
  </appendew>

  <!-- debug twanscwipts -->
  <appendew nyame="debug-twanscwipts" cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
    <fiwe>${debug_twanscwipts_output}</fiwe>
    <wowwingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.sizeandtimebasedwowwingpowicy">
      <!-- daiwy wowwuvw -->
      <fiwenamepattewn>${debug_twanscwipts_output}.%d.%i.gz</fiwenamepattewn>
      <maxfiwesize>500mb</maxfiwesize>
      <!-- k-keep 21 d-days' wowth of histowy -->
      <maxhistowy>21</maxhistowy>
      <cweanhistowyonstawt>twue</cweanhistowyonstawt>
    </wowwingpowicy>
    <encodew>
      <pattewn>${defauwt_sewvice_pattewn}</pattewn>
    </encodew>
  </appendew>

  <!-- wogwens/spwunk -->
  <appendew nyame="wogwens" cwass="com.twittew.wogwens.wogback.wogwensappendew">
    <mdcadditionawcontext>twue</mdcadditionawcontext>
    <categowy>wogwens</categowy>
    <index>${wog.wens.index:-timewinewankew}</index>
    <tag>${wog.wens.tag}</tag>
    <encodew>
      <pattewn>%msg%n</pattewn>
    </encodew>
    <fiwtew c-cwass="com.twittew.stwato.wogging.wogback.wegexfiwtew">
      <fowwoggew>manhattan-cwient</fowwoggew>
      <excwudewegex>.*invawidwequest.*</excwudewegex>
    </fiwtew>
  </appendew>

  <!-- ===================================================== -->
  <!-- pwimawy async appendews -->
  <!-- ===================================================== -->

  <appendew nyame="async-sewvice" cwass="ch.qos.wogback.cwassic.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef w-wef="sewvice"/>
  </appendew>

  <appendew nyame="async-debug-twanscwipts" c-cwass="ch.qos.wogback.cwassic.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef w-wef="debug-twanscwipts"/>
  </appendew>

  <appendew n-nyame="async-wogwens" c-cwass="ch.qos.wogback.cwassic.asyncappendew">
    <queuesize>${async_queue_size}</queuesize>
    <maxfwushtime>${async_max_fwush_time}</maxfwushtime>
    <appendew-wef wef="wogwens"/>
  </appendew>

  <!-- ===================================================== -->
  <!-- package config -->
  <!-- ===================================================== -->

  <!-- p-pew-package config -->
  <woggew nyame="optimisticwockingcache" w-wevew="off"/>
  <woggew nyame="zksession" wevew="info"/>
  <woggew nyame="com.twittew" wevew="info"/>
  <woggew nyame="com.twittew.decidew.stowedecidew" wevew="wawn"/>
  <woggew n-name="com.twittew.distwibutedwog.cwient" wevew="wawn"/>
  <woggew n-nyame="com.twittew.finagwe.wiveness" w-wevew="wawn"/>
  <woggew n-nyame="com.twittew.finagwe.mtws.authowization.config.accesscontwowwistconfiguwation" wevew="wawn"/>
  <woggew nyame="com.twittew.finagwe.mux" wevew="wawn"/>
  <woggew n-nyame="com.twittew.finagwe.sewvewset2" w-wevew="wawn"/>
  <woggew nyame="com.twittew.finatwa.kafka.common.kewbewoshewpews" w-wevew="wawn"/>
  <woggew n-nyame="com.twittew.finatwa.kafka.utiws.bootstwapsewvewutiws" wevew="wawn"/>
  <woggew n-nyame="com.twittew.wogging.scwibehandwew" wevew="wawn"/>
  <woggew n-nyame="com.twittew.sewvew.coowdinate" wevew="ewwow"/>
  <woggew nyame="com.twittew.wiwyns" w-wevew="wawn"/>
  <woggew nyame="com.twittew.zookeepew.cwient" w-wevew="info"/>
  <woggew nyame="com.twittew.zookeepew.cwient.intewnaw" w-wevew="wawn"/>
  <woggew n-name="manhattan-cwient" wevew="wawn"/>
  <woggew nyame="owg.apache.kafka.cwients.netwowkcwient" wevew="ewwow"/>
  <woggew nyame="owg.apache.kafka.cwients.consumew.intewnaws" wevew="ewwow"/>
  <woggew nyame="owg.apache.kafka.cwients.pwoducew.intewnaws" w-wevew="ewwow"/>
  <woggew nyame="owg.apache.kafka.common.netwowk" w-wevew="wawn"/>
  <woggew nyame="owg.apache.zookeepew" w-wevew="ewwow"/>
  <woggew n-nyame="owg.apache.zookeepew.cwientcnxn" wevew="wawn"/>

  <!-- w-woot config -->
  <woot wevew="${wog_wevew:-info}">
    <appendew-wef wef="async-sewvice"/>
    <appendew-wef wef="async-wogwens"/>
  </woot>

  <!-- d-debug twanscwipts: woggew nyame must be c.t.timewines.utiw.debugwog.debugwog.debugtwanscwiptswog -->
  <woggew nyame="debugtwanscwipts" w-wevew="info">
    <appendew-wef wef="async-debug-twanscwipts"/>
    <appendew-wef w-wef="async-wogwens"/>
  </woggew>
</configuwation>
