## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.filters import safemarkdown
   from r2.lib.template_helpers import make_url_protocol_relative, static
%>
<%namespace file="utils.html" import="img_link"/>
<%def name="app_link(app)" buffered="True">
  <!-- SC_OFF -->
  %if app.about_url:
    <a href="${app.about_url}">${app.name}</a>
  %else:
    <b>${app.name}</b>
  %endif
  <!-- SC_ON -->
</%def>
<%
  icon_url = make_url_protocol_relative(thing.client.icon_url) or static('defaultapp.png')
%>
<div class="infobar ${thing.extra_class}">
  ${img_link(thing.client.name, icon_url,
             thing.client.about_url, _class="icon")}
  <div>
    <p>
      ${unsafe(websafe(thing.message) % dict(app=app_link(thing.client)))}
    </p>
  </div>
</div>
