## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<%namespace file="utils.html" import="error_field"/>
<%namespace name="utils" file="utils.html"/>
<%namespace file="messagecompose.html" import="to_field, subject_field, message_field, captcha_field"/>
<%!
   from r2.lib import js
%>

${unsafe(js.use("messagecompose"))}

<h1>${_("send a private message")}</h1>

<%utils:submit_form onsubmit="return post_form(this, 'compose', null, null, true)",
                    method="post", _id = "compose-message",
                    action="/message/compose">

${from_field()}
${to_field()}
${subject_field()}
${message_field()}
${captcha_field()}
<input type="hidden" name="source" value="compose">

<button id="send" name="send" type="submit">${_("send")}</button>
<span class="status"></span>

</%utils:submit_form>

<%def name="from_field()">
  ## If the user is in timeout, they can only message /r/reddit.com - so it
  ## only makes sense to let them do that from their user account (the
  ## default), not as a subreddit moderator.
  %if not thing.restrict_recipient:
    <div class="spacer">
      <%utils:round_field title="${_('from')}">
        ## On certain pages, it really only makes sense to send as a specific
        ## subreddit.
        %if thing.only_as_subreddit:
          <input type="text" name="from_sr" value="${thing.mod_srs[0].name}" readonly>
        %else:
          <select name="from_sr">
            <option value="">${"/u/%s" % c.user.name}</option>
            %for sr in thing.mod_srs:
              <option value="${sr.name}">${"/r/%s" % sr.name}</option>
            %endfor
          </select>
        %endif
      </%utils:round_field>
      ${error_field("NO_SR_TO_SR_MESSAGE", "from")}
    </div>
  %endif
</%def>
