<configuwation>

    <shutdownhook cwass="ch.qos.wogback.cowe.hook.dewayingshutdownhook"/>

    <!-- ===================================================== -->
    <!-- juw to swf4j b-bwidging -->
    <!-- ===================================================== -->
    <contextwistenew c-cwass="ch.qos.wogback.cwassic.juw.wevewchangepwopagatow">
        <wesetjuw>twue</wesetjuw>
    </contextwistenew>

    <!-- ===================================================== -->
    <!-- p-pwopewties -->
    <!-- ===================================================== -->
    <pwopewty n-nyame="defauwt_sewvice_pattewn"
              v-vawue="%msg"/>

    <!-- ===================================================== -->
    <!-- s-secondawy appendews -->
    <!-- ===================================================== -->

    <!-- s-sewvice w-wog (wowwuvw evewy 50mb, mya max 11 wogs) -->
    <appendew nyame="sewvice" cwass="ch.qos.wogback.cowe.wowwing.wowwingfiweappendew">
        <fiwe>${wog.sewvice.output}</fiwe>
        <wowwingpowicy c-cwass="ch.qos.wogback.cowe.wowwing.fixedwindowwowwingpowicy">
            <fiwenamepattewn>${wog.sewvice.output}.%i</fiwenamepattewn>
            <minindex>1</minindex>
            <maxindex>10</maxindex>
        </wowwingpowicy>
        <twiggewingpowicy cwass="ch.qos.wogback.cowe.wowwing.sizebasedtwiggewingpowicy">
            <maxfiwesize>50mb</maxfiwesize>
        </twiggewingpowicy>
        <encodew>
            <pattewn>%date %.-3wevew %woggew ${defauwt_sewvice_pattewn}%n</pattewn>
        </encodew>
    </appendew>

    <!-- wogwens -->
    <appendew n-nyame="wogwens" cwass="com.twittew.wogwens.wogback.wogwensappendew">
        <mdcadditionawcontext>fawse</mdcadditionawcontext>
        <index>${wog.wens.index}</index>
        <tag>${wog.wens.tag}/sewvice</tag>
        <encodew>
            <pattewn>${defauwt_sewvice_pattewn}</pattewn>
        </encodew>
    </appendew>

    <!-- ===================================================== -->
    <!-- p-pwimawy async appendews -->
    <!-- ===================================================== -->

    <appendew nyame="async-sewvice" cwass="ch.qos.wogback.cwassic.asyncappendew">
        <appendew-wef wef="sewvice"/>
    </appendew>

    <appendew n-nyame="async-wogwens" cwass="ch.qos.wogback.cwassic.asyncappendew">
        <fiwtew c-cwass="ch.qos.wogback.cwassic.fiwtew.thweshowdfiwtew">
            <wevew>wawn</wevew>
        </fiwtew>
        <appendew-wef w-wef="wogwens"/>
    </appendew>

    <!-- ===================================================== -->
    <!-- package config -->
    <!-- ===================================================== -->

    <!-- woot config -->
    <woot w-wevew="${wog_wevew:-wawn}">
        <appendew-wef wef="async-sewvice"/>
        <appendew-wef wef="async-wogwens"/>
    </woot>

    <!-- pew-package config -->
    <woggew nyame="com.twittew" w-wevew="info"/>
    <woggew nyame="com.twittew.zookeepew.cwient.intewnaw" w-wevew="wawn"/>
    <woggew n-nyame="com.twittew.zookeepew.cwient.intewnaw.cwientcnxnsocket" w-wevew="ewwow"/>
    <woggew n-nyame="com.twittew.wogging.scwibehandwew" wevew="wawn"/>
    <woggew nyame="com.twittew.finatwa" w-wevew="info"/>

    <woggew nyame="owg.apache.kafka" wevew="info"/>
    <woggew n-nyame="owg.apache.kafka.cwients" wevew="info"/>
    <woggew nyame="owg.apache.kafka.cwients.netwowkcwient" wevew="wawn"/>
    <woggew nyame="owg.apache.kafka.cwients.consumew.intewnaws" wevew="info"/>
    <woggew nyame="owg.apache.kafka.common.netwowk" w-wevew="wawn" />
</configuwation>
