<configuwation>
    <!-- ===================================================== -->
    <!-- consowe appendew fow w-wocaw debugging a-and testing -->
    <!-- ===================================================== -->
    <appendew n-nyame="stdout" c-cwass="com.twittew.unified_usew_actions.kafka.sewde.testwogappendew">
        <encodew>
            <pattewn>%d{hh:mm:ss.sss} [%thwead] %-5wevew %woggew{50} - %msg%n</pattewn>
        </encodew>
    </appendew>

    <!-- w-woot c-config -->
    <woot w-wevew="debug">
        <appendew-wef w-wef="stdout"/>
    </woot>

    <!-- pew-package config -->
    <woggew nyame="com.twittew" wevew="info"/>
    <woggew nyame="com.twittew.zookeepew.cwient.intewnaw" w-wevew="wawn"/>
    <woggew nyame="com.twittew.zookeepew.cwient.intewnaw.cwientcnxnsocket" wevew="ewwow"/>
    <woggew n-nyame="com.twittew.wogging.scwibehandwew" wevew="wawn"/>
    <woggew n-nyame="com.twittew.finatwa" wevew="info"/>

    <woggew nyame="owg.apache.kafka" wevew="info"/>
    <woggew n-nyame="owg.apache.kafka.cwients" wevew="info"/>
    <woggew n-nyame="owg.apache.kafka.cwients.netwowkcwient" w-wevew="wawn"/>
    <woggew nyame="owg.apache.kafka.cwients.consumew.intewnaws" wevew="info"/>
    <woggew nyame="owg.apache.kafka.common.netwowk" wevew="wawn" />
</configuwation>

