<h2 class="heading"><%= ts("Statistics") %></h2>
<p><%= ts("You currently have no works posted to the Archive. If you add some, you'll find information on this page about hits, kudos, comments, and bookmarks of your works.") %></p>
<p><%= ts("Users can also see how many subscribers they have, but not the names of their subscribers or identifying information about other users who have viewed or downloaded their works.") %></p>