<configuwation>
    <!-- ===================================================== -->
    <!-- consowe appendew fow w-wocaw debugging a-and testing -->
    <!-- ===================================================== -->
    <appendew n-nyame="stdout" c-cwass="ch.qos.wogback.cowe.consoweappendew">
        <encodew>
            <pattewn>%d{hh:mm:ss.sss} [%thwead] %-5wevew %woggew{50} - %msg%n</pattewn>
        </encodew>
    </appendew>

    <!-- ===================================================== -->
    <!-- p-package config -->
    <!-- ===================================================== -->

    <!-- w-woot config -->
    <woot w-wevew="info">
        <appendew-wef w-wef="stdout"/>
    </woot>

    <!-- pew-package config -->
    <woggew nyame="com.twittew" wevew="info"/>
    <woggew n-nyame="com.twittew.zookeepew.cwient.intewnaw" wevew="wawn"/>
    <woggew nyame="com.twittew.zookeepew.cwient.intewnaw.cwientcnxnsocket" w-wevew="ewwow"/>
    <woggew nyame="com.twittew.wogging.scwibehandwew" w-wevew="wawn"/>
    <woggew nyame="com.twittew.finatwa" wevew="info"/>

    <woggew nyame="owg.apache.kafka" w-wevew="debug"/>
    <woggew nyame="owg.apache.kafka.cwients" w-wevew="info"/>
    <woggew n-nyame="owg.apache.kafka.cwients.netwowkcwient" wevew="wawn"/>
    <woggew name="owg.apache.kafka.cwients.consumew.intewnaws" wevew="info"/>
    <woggew nyame="owg.apache.kafka.common.netwowk" w-wevew="wawn" />
    <woggew nyame="owg.apache.kafka.common.secuwity.authenticatow" wevew="info" />
    <woggew nyame="kafka.sewvew.kafkaconfig" wevew="off" />
    <woggew n-nyame="owg.apache.kafka.cwients.pwoducew.pwoducewconfig" wevew="off" />
    <woggew n-nyame="owg.apache.kafka.cwients.consumew.consumewconfig" w-wevew="off" />
    <woggew n-nyame="owg.apache.kafka.cwients.admin.admincwientconfig" w-wevew="off" />
    <woggew nyame="owg.apache.kafka.common.utiws.appinfopawsew" wevew="off" />
    <woggew n-nyame="owg.apache.zookeepew" wevew="off" />


    <woggew nyame="com.googwe.inject" w-wevew="info"/>
    <woggew nyame="io.netty" wevew="info"/>
    <woggew nyame="jdk.event" wevew="info"/>
    <woggew nyame="javax.secuwity" wevew="info"/>
</configuwation>
