<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('New pseud') %></h2>
<%= error_messages_for :pseud %>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
<li><%= link_to ts('Back To Pseuds'), user_pseuds_path(@user) %></li>
</ul>
<!--/subnav-->

<!--main content-->
<%= render :partial => 'pseuds_form', :locals => { :button_text => ts("Create") }%>
<!--/content-->