<% pseud = mute.muted.default_pseud %>
<li class="user pseud picture blurb group" role="article">
  <%= render "pseuds/pseud_module", pseud: pseud %>

  <h6 class="landmark heading">User Actions</h6>
  <ul class="actions" role="navigation">
    <li><%= mute_link(pseud.user, mute: mute) %></li>
  </ul>
</li>
