<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title><%= @page_title %></title>
  <style type="text/css">
    p.message { text-align: center; }
    .meta h1 { font-size: 1.5em; text-align: center; }
    .meta h2 { font-size: 1.25em; text-align: center; }
    .meta h2 { page-break-before: always; }
    .meta .byline { text-align: center; }
    .meta dl.tags { border: 1px solid; padding: 1em; }
    .meta dd { margin: -1em 0 0 10em; }
    .meta .endnote-link { font-size: .8em; }
    #chapters { font-family: "Nimbus Roman No9 L", "Times New Roman", serif; padding: 1em; }
    .userstuff { font-family: "Nimbus Roman No9 L", "Times New Roman", serif; padding: 1em; }
    /* Invisible headings to help Calibre make a Table of Contents */
    .toc-heading { display: none; }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
